.wrap {
  position: absolute;
  left: 0px;
  top: 47px;
  width: 400px;
  height: 770px;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
}
/*.outerContainer {*/
  /*webkit-transition: -webkit-transform .3s ease-out;*/
  /*-o-transition: -o-transform .3s ease-out;*/
  /*transition: transform .3s ease-out;*/
  /*-webkit-transform: translate3d(-25%,0,0);*/
  /*-o-transform: translate3d(-25%,0,0);*/
  /*transform: translate3d(-25%,0,0);*/
/*}*/
/*.outerContainer.active {*/
  /*-webkit-transform: translate3d(0,0,0);*/
  /*-o-transform: translate3d(0,0,0);*/
  /*transform: translate3d(0,0,0);*/
/*}*/
.imgUser{
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
}
.imgInner{
  margin-top: 25px;
}
.userInfo{
  float: left;
  font-size: 13px;
  line-height: 2;
  margin-top: 15px;
}
.loginOut{
  float: left;
  margin-top: 40px;
  margin-left: 55px;
  text-align: center;
}
.tabContent{
  float: left;
  width: 380px;
  margin-top: 20px;
  margin-left: 10px;
}

.active{
  display:block;
}
:global(.userInfohidden){
  display:none;
}
.wrapBtn{
  background-color:inherit;
  border:solid 1px rgb(121, 121, 121);
  border-radius: 5px;
  color: rgb(51, 51, 51);
  font-size: 16px;
}



