.wrap {
  position: fixed;
  left: 0px;
  top: 47px;
  width: 430px;
  height: 100%;
  background: #fff;
  padding:0 30px;
  border-radius:2px 2px 0 0 ;
  box-shadow: 4px 0 4px rgba(0,0,0,.14);
  z-index: 999;
  padding-top: 1px;
}
/*.outerContainer {*/
  /*webkit-transition: -webkit-transform .3s ease-out;*/
  /*-o-transition: -o-transform .3s ease-out;*/
  /*transition: transform .3s ease-out;*/
  /*-webkit-transform: translate3d(-25%,0,0);*/
  /*-o-transform: translate3d(-25%,0,0);*/
  /*transform: translate3d(-25%,0,0);*/
/*}*/
/*.outerContainer.active {*/
  /*-webkit-transform: translate3d(0,0,0);*/
  /*-o-transform: translate3d(0,0,0);*/
  /*transform: translate3d(0,0,0);*/
/*}*/
.imgUser{
  float: left;
  text-align: center;
  position:relative;
  margin: 25px 34px 11px 0;
}
.imgUser:hover .editPortrait{
  display: block;
}
.editPortrait{
  width:88px;
  height:88px;
  position:absolute;
  left:0;
  top:0;
  border-radius:44px;
  background:rgba(0,0,0,0.6);
  line-height:96px;
  text-align:center;
  display:none;
}
.editPortrait :global(.iconfont){
  font-size:26px;
  color:#fff;
}
.editPortrait :global(.iconfont):hover{
  cursor:pointer;
}
.imgInner{
  width:88px;
  height:88px;
}
.userInfo{
  float: left;
  font-size: 13px;
  line-height: 2;
  margin-top: 38px;
  margin-bottom:21px;
}
.userInfo li{
  width:80px;
  float: left;
  text-align:center;
  margin-right: 43px;
}
.gloryValue,.packetsValue{
  height:49px;
  font-size:41px;
  font-family:HelveticaNeue-Light;
  color:rgba(74,81,93,1);
  line-height:50px;
}
.gloryKey,.packetsKey{
  height:16px;
  font-size:12px;
  font-family:MicrosoftYaHei;
  color:rgba(136,136,136,1);
  line-height:16px;
}
.loginOut{
  display:inline-block;
  margin-top: 40px;
  margin-left: 55px;
  text-align: center;
}
.tabContent{
  display:inline-block;
  width: 380px;
  margin-top: 20px;
  margin-left: 10px;
}
.userName{
  display:block;
  float: left;
  width:88px;
  height:20px;
  font-size:14px;
  font-family:PingFangSC-Semibold;
  font-weight:bold;
  color:rgba(51,51,51,1);
  line-height:20px;
  text-align:center;
  margin: 0 300px 20px 0;
}
.gloryIcon img{
  margin-right:32px;
  margin-top:-88px;
}
.active{
  display:block;
}
:global(.userInfohidden){
  display:none;
}
.wrapBtn{
  background-color:inherit;
  border:solid 1px rgb(121, 121, 121);
  border-radius: 5px;
  color: rgb(51, 51, 51);
  font-size: 16px;
}
.clearfix:after{
  content: "";
  display:block;
  height:0;
  clear: both;
  visibility: hidden;
}
.userBtnList li{
  float : left;
}
.serviceImg img{
  width:48px;
  height:48px;
  margin:14px 35px 5px 5px;
}
.serviceName{
  width:48px;
  height:16px;
  margin-bottom: 13px;
  margin-left:5px;
  font-size:12px;
  font-family:MicrosoftYaHei;
  color:rgba(136,136,136,1);
  line-height:16px;
  text-align:center;
}
.promotion li{
  float: left;
}
.used{
  width:346px;
  height:68px;
  border-bottom: 1px solid #DDE0E3;
}
.tabPane1,.tabPane2{
  height:400px;
}
.tabPane1 li,.tabPane2 li{
  padding-top:14px;
}
.usedTit{
  float: left;
  width:56px;
  height:19px;
  font-size:14px;
  font-family:MicrosoftYaHei;
  color:rgba(51,51,51,1);
  line-height:19px;
}
.lastTime,.usedService{
  width:55px;
  height:16px;
  font-size:12px;
  font-family:MicrosoftYaHei;
  color:rgba(136,136,136,1);
  line-height:16px;
}
.lastTime{
  float: right;
}
.usedModule{
  width:284px;
  height:100%;
  margin-left:67px;
}
.module{
  height:26px;
}
.tabPane1 :global(.iconfont),.tabPane2 :global(.iconfont){
  float: left;
  color:#B9BABB;
  font-size:32px;
  margin: 0 10px;
  line-height:48px;
}
:global(.um-content){
  background:#fff;
}
.tabPane2{
  padding: 0 13px;
}
.userBtnList :global(.u-button),.userBtnList :global(.u-select){
  width:91px;
  height:28px;
  margin-right:8px;
  color:rgba(102,102,102,1);
}
.userBtnList :global(.u-select){
  height:26px;
}
.userBtnList{
  margin-left: 33px;
  margin-bottom:45px;
}
.wrap :global(.u-tabs-tab-active){
  font-weight: bold;
  color:rgba(74,81,93,1);
}
.wrap :global(.u-tabs-tab:hover){
  color:#E14C46;
}
.wrap :global(.u-tabs-ink-bar){
  width:24px !important;
  height:6px !important;
  background:#E14C46;
  border-radius:3px;
  margin:0 36px;
}
.wrap :global(.u-tabs-nav-wrap){
  width:346px;
  border-bottom:1px solid #DDE0E3;
}
.wrap :global(.u-select-arrow){
  font-size:14px;
  color:#E14C46;
}
:global(.u-select-dropdown .u-select-dropdown-menu-item-active), :global(.u-select-dropdown .u-select-dropdown-menu-item):hover{
  background:rgba(239,239,239,1);
  color: #E14C46;
}
.wrap :global(.u-tabs-content){
  // padding-top:14px;
}
