.search {
  display: inline-block;
}
.searchBtn {
  margin-right: 15px;
}
.inputArea {
  width: 270px;
  left: -275px;
  position: absolute;
  top: 0;
  height: 32px;
  overflow: hidden;
  border: 1px solid #D2D2D2;
}
.searchText {
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  background: #fff;
  border:0 none;
}
.inputEnter {
  left: -6px;
  width: 1px;
}
.inputEnter.inputEnterActive {
  width: 270px;
  left: -275px;
  transition: all 300ms ease-in;
}
.inputLeave {
  width: 270px;
  left: -275px;
}
.inputLeave.inputLeaveActive {
  width: 1px;
  left: -6px;
  transition: all 300ms ease-in;
}

.search button{
  border: none;
  border-radius: 0;
  border-top:1px solid #888888;
  font-size: 12px;
}
