.btn{
  margin-right: 10px;
  display: inline-block;
}
.close{
    position: absolute;
    top: -25px;
    right: 15px;
    font-size: 18px;
    color: #757F8C;
    cursor: pointer;
}
/**
.manageDialogFolder .close{
  top: -46px;
  right: 20px;
}
**/