<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="full-screen" content="true">
  <meta name="x5-fullscreen" content="true">
  <meta name="viewport" content="width=375, user-scalable=no, minimal-ui">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="renderer" content="webkit" />
  <!-- link href="//design.yonyoucloud.com/static/tinper-bee/0.6.2/assets/tinper-bee.css" rel="stylesheet" media="screen" / -->
  <!-- <link href="//design.yonyoucloud.com/static/tinper-bee/1.0.2/assets/tinper-bee.css" rel="stylesheet" media="screen"> -->
  <title>cloud os</title>
  <link rel="manifest" href="./manifest.json">
  <script>

    function diworkContext() {
      return {
        tenantid: 'm6xtsjv5',
        userid: '01227318-cb67-4560-9965-66f466f2b3e7',
        theme: '',
        username: '',
        locale: 'zh_CN',
        timezone: '',
        appcode: 'diwork',
        profile: 'daily',
        multilist: '[{"default":true,"dislpayName":"简体中文","enabled":true,"id":"9cb054da-ee86-4fe9-9edc-16d48954c614","langCode":"zh_CN","langSequence":1},{"default":false,"dislpayName":"English","enabled":true,"id":"997fd6bf-e857-4c19-a228-129aec08e17e","langCode":"en_US","langSequence":2},{"default":false,"dislpayName":"繁体中文","enabled":true,"id":"6075745e-44fa-4f45-935f-cbeea0302c20","langCode":"zh_TW","langSequence":3}]'
      }
    }

    //获取用户信息
    function getUserInfo() {
      return { "admin": true, "allowTenants": [{ "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "m6xtsjv5", "tenantName": "大大大小", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "ym107v89", "tenantName": "小小方", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": false, "status": 1, "team": 1, "tenantId": "ef9ludmv", "tenantName": "123", "type": 0 }], "company": "大大大小", "currentTeamConfig": { "allowExit": "1", "charged": false, "invitePermission": "0", "isWaterMark": 1, "joinPermission": "0", "linkman": "邢", "subordinateType": 0, "tenantAddress": "北京|北京|东城区|", "tenantEmail": "407951113@qq.com", "tenantId": "m6xtsjv5", "tenantIndustry": "A", "tenantName": "大大大小", "tenantSize": "A", "tenantTel": "18601969283", "terminal": "web" }, "gloriesNum": 0, "redPacketsNum": 0, "userAvator": "", "userAvatorNew": "", "userCode": "YHT-1527-17381517820503069", "userEmail": "407951113@qq.com", "userId": "01227318-cb67-4560-9965-66f466f2b3e7", "userMobile": "", "userName": "邢" };
    }

    function os_fe_isLogin() {
      return true;
    }



  </script>
  <!-- <script src='/static/register.js'></script> -->
</head>

<body>
  <div id="root"></div>
  <div id="IM"></div>
  <script src="js/manifest.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/polyfill.js"></script>

  <script src="js/main.js"></script>
  <script src="static/IM.js"></script>
</body>

</html>