<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="full-screen" content="true">
  <meta name="x5-fullscreen" content="true">
  <meta name="viewport" content="width=375, user-scalable=no, minimal-ui">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="renderer" content="webkit" />
  <!-- link href="//design.yonyoucloud.com/static/tinper-bee/0.6.2/assets/tinper-bee.css" rel="stylesheet" media="screen" / -->
  <!-- <link href="//design.yonyoucloud.com/static/tinper-bee/1.0.2/assets/tinper-bee.css" rel="stylesheet" media="screen"> -->
  <title>cloud os</title>
  <link rel="manifest" href="./manifest.json">
  <script>
    function diworkContext() {
      return {
        tenantid: 'gtzceot9',
        userid: '01227318-cb67-4560-9965-66f466f2b3e7',
        theme: '',
        username: '',
        locale: 'zh_CN',
        timezone: '',
        appcode: 'diwork',
        profile: 'test'
      }
    }

    function getUserInfo() {
      return { "admin": true, "allowTenants": [{ "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "s9lymxx5", "tenantName": "345432", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": false, "status": 1, "team": 1, "tenantId": "y269ioyq", "tenantName": "ceshi", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "qmde37a2", "tenantName": "o34", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "piquxbty", "tenantName": "b", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "b8dk64hs", "tenantName": "11111", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "p64hh3k9", "tenantName": "dsfd", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "o2tdumkm", "tenantName": "bbb", "type": 0 }, { "admin": true, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "befpv66p", "tenantName": "9201d", "type": 0 }, { "admin": false, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "on4a7td6", "tenantName": "用友集团集成", "type": 0 }, { "admin": false, "certificated": false, "enterPrise": false, "logo": "https://file-cdn.yonyoucloud.com/workbench-image-path-applicationIcon/9d3a77db-d5e5-4c8e-9397-8659d6dc25b3/1.png", "status": 1, "team": 1, "tenantId": "fnby0djv", "tenantName": "你好你好你好你好你好你好你好你好你好你好", "type": 0 }, { "admin": false, "certificated": false, "enterPrise": true, "status": 1, "team": 0, "tenantId": "bvlyg08i", "tenantName": "用友集团", "type": 0 }], "company": "345432", "currentTeamConfig": { "allowExit": "1", "charged": false, "invitePermission": "0", "isWaterMark": 1, "joinPermission": "0", "linkman": "邢永超", "subordinateType": 0, "tenantAddress": "北京|北京|东城区|", "tenantEmail": "xingychb@yonyou.com", "tenantId": "s9lymxx5", "tenantIndustry": "A", "tenantName": "345432", "tenantSize": "A", "tenantTel": "8618601969283", "terminal": "web" }, "gloriesNum": 0, "redPacketsNum": 0, "userAvator": "https://cdn.yonyoucloud.com/dev/yht/avatar/style/images/avatar/fdd3248e-f65e-46fd-9da2-6a886d7a0547/original/original.png", "userAvatorNew": "https://cdn.yonyoucloud.com/dev/yht/avatar/style/images/avatar/fdd3248e-f65e-46fd-9da2-6a886d7a0547/original/original.png", "userCode": "xingychbk7ft5fu7", "userEmail": "xingychb@yonyou.com", "userId": "fdd3248e-f65e-46fd-9da2-6a886d7a0547", "userMobile": "18601969283", "userName": "邢永超" };
    }

  </script>
  <!-- <script src='/static/register.js'></script> -->
</head>

<body>
  <div id="root"></div>
  <div id="IM"></div>
  <script src="js/manifest.js"></script>
  <script src="js/vendor.js"></script>
  <script src="js/polyfill.js"></script>

  <script src="js/main.js"></script>
  <script src="static/IM.js"></script>
</body>

</html>