<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="full-screen" content="true">
  <meta name="x5-fullscreen" content="true">
  <meta name="viewport" content="width=375, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>cloud os home</title>
  <link href="//design.yonyoucloud.com/static/tinper-bee/0.6.2/assets/tinper-bee.min.css" rel="stylesheet" media="screen" />
  <!-- <link href="http://design.yonyoucloud.com/static/tinper-bee/1.2.9/assets/tinper-bee.css" rel="stylesheet" media="screen" /> -->
</head>
<body>
<div id="root"></div>
<script src="js/manifest.js"></script>
<script src="js/vendor.js"></script>
<script src="js/home.js"></script>
</body>
</html>
