<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="full-screen" content="true">
  <meta name="x5-fullscreen" content="true">
  <meta name="viewport" content="width=375, user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!--[if lte IE 9]><script> (function(f){ window.setTimeout=f(window.setTimeout); window.setInterval=f(window.setInterval); })(function(f){return function(c,t){ var a=[].slice.call(arguments,2);return f(function(){c instanceof Function?c.apply(this,a):eval(c)},t)} }); </script><![endif]-->
  <title>cloud os home</title>
</head>
<body>
<div id="root"></div>
<script src="js/manifest.js"></script>
<script src="js/vendor.js"></script>
<script src="js/home.js"></script>
</body>
</html>
