body{
  background-image:url("assets/image/wgt/wiget_bg.png"),url("assets/image/wgt/wiget_bg.png"),url("assets/image/wgt/wiget_bg.png");
  background-repeat: no-repeat, no-repeat, no-repeat;  
  background-position: 0% 100%, 100% 0%, 90% 100%; 
  background-attachment:fixed;
}