#root {
    width: 100%;
    min-height: 100%;
    background:#fff;
}
/*注意还有amPage amBg*/
body,.HomePagePanel{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
    min-width: 1200px;

}
/*正文内容*/
.HomeOnePage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.HomePagePanel .rightDotMenu {
    width: 40px;
    text-align: center;
    position: fixed;
    top:50%;
    margin-top:-140px;
    right:40px;
}
.HomePagePanel .rightDotMenu :global(.menudot){
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.HomePagePanel .rightDotMenu :global(.menudot.active){
    background: rgba(255,45,45,1);
}

/*animation*/
:global(.animation0){
    transition: 500ms ease;
    transform: translate3d(0px, 0%, 0px);
}
:global(.animation1){
    transition: 500ms ease;
    transform: translate3d(0px, -100%, 0px);
}
:global(.animation2){
    transition: 500ms ease;
    transform: translate3d(0px, -200%, 0px);
}
:global(.animation3){
    transition: 500ms ease;
    transform: translate3d(0px, -300%, 0px);
}
:global(.animation4){
    transition: 500ms ease;
    transform: translate3d(0px, -400%, 0px);
}
:global(.animation5){
    transition: 500ms ease;
    transform: translate3d(0px, -500%, 0px);
}
:global(.animation6){
    transition: 500ms ease;
    transform: translate3d(0px, -600%, 0px);
}
:global(.animation7){
    transition: 500ms ease;
    transform: translate3d(0px, -700%, 0px);
}
/*下面是登陆的内部*/
:global(.popbox .loginbox .iframe), 
:global(.popbox .loginbox iframe), 
:global(.popbox .popmask) {
    width: 100%;
    height: 100%;
}
:global(.popbox .popmask){
    visibility: hidden;
    display: block;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
:global(.stat-login .loginbox), 
:global(.popbox .popmask) {
    visibility: visible;
}

:global(.popbox img.loginFake) {
    position: absolute;
    top:30%;
    left: 50%;
    margin-left: -150px;
    z-index: 998;
    width: 300px;
    height: auto;
}
:global(.popbox .close){
    position: absolute;
    top:30%;
    left: calc(50% + 160px);
    color:#fff;
    font-size: 22px;
    z-index:999;
    cursor: pointer;
}