.umContent{
	padding: 0 120px;
	padding-top: 10px;
}
.content{
	width: 100%;
	background: #ffffff;
}
.user{
	position: relative;
}
.user img{
	display: block;
	width: 100%;
}
.info{
	position: absolute;
	left: 33%;
	top: 24%;
}
.info dt{
	float: left;
}
.info dd{
	float: left;
}