.content{
  overflow: auto;
  height: 400px;
}

:global( .manageDialogFolder .folderDialog){
  z-index: 2000;
  background-color: initial;
}
:global(.manageDialogFolder.u-modal){
  position: fixed;
  bottom: auto;
  margin: 0px;
  z-index: 3000;
  height: 600px;
  width: 800px;
  left: calc((100% - 800px)/2);
  top: calc((100% - 600px)/2);
}
:global(.manageDialogFolder.u-modal .u-modal-content){
  padding: 16px;
}
:global(.manageDialogFolder .u-modal-dialog){
  width: auto;
}
:global(div[role=dialog]){
  /* height:100%; */
}
:global( .manageDialogFolder .u-modal-dialog){
  margin:0px;
}
