.breadcrumbClass ol {
  height:35px;
  line-height: 37px;
  display:inline-block;
  background: none;
  margin:0;
  padding:0;
  color:#888;
  vertical-align: middle;
  font-family: "Microsoft Yahei", STHeiTi, Tahoma, Arial, Roboto, "Droid Sans", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", Simsun, sans-self;
}
.breadcrumbClass ol li {
  color:#555;
}
.breadcrumbClass a {
  color:#555;
  cursor:pointer;
}
.breadcrumbClass ol>li+li:before {
  content: "\003e";
}
.breadcrumbClassIcon {
  cursor:pointer;
  color:#555555;
  margin:0 10px;
  vertical-align: middle;
}
.breadcrumbClass {
  height:35px;
  line-height:35px;
  display:flex;
}
.breadcrumbClass a{
  display:inline-block;
  -webkit-box-flex:1;
  line-height:35px;
}
.breadcrumbClass a:hover{
  color: rgba(225,76,70,1);
}
.breadcrumbBack {
  margin:0 10px;
  color:#888;
  -webkit-box-flex:1;
  line-height:33px;
}
.breadcrumbClass li:last-child{
  color:#111111;
}
.itmeHover:hover span{
  color:rgba(225,76,70,1);
  cursor: pointer;
}
