{
  "presets": [
    ["env", { "modules": false }],
    "stage-2",
    "react"
  ],
  "plugins": [ "transform-runtime", "transform-decorators-legacy",{
    "helpers": false,
    "polyfill": true,
    "regenerator": true,
    "moduleName": "babel-runtime"}
  ],
  "comments": true
}
