.bg{
	width:100%;
	background: rgb(230,233,233);
	padding:10px 0;
}
.bg_wrap{
	background:#fff;
	border:1px solid #DBDEE5;
	box-shadow: 0 6px 8px 0 rgba(74,81,93,0.25);
	border-radius: 3px ;
}
.wrap{
  padding:27px 80px 0;
}
.wrap :global(.u-autocomplete){
	width:433px;
	height:38px;
}
.wrap :global(.u-form-control){
	height:100%;
}
.wrap :global(.u-button){
	width:68px;
	margin:0;
	background:#fff;
}
.ufSearch{
	color: #878B94;
	font-size:22px;
	font-weight:bold;
}
.serviceSearch{
	display: flex;
	border-bottom:1px solid #DDE0E3;
	padding-bottom: 16px;
	margin-bottom:23px;
}
.serviceSearch :global(.u-autocomplete),.serviceSearch :global(.u-input-group-btn){
	box-flex:1;
}
.wrap :global(.u-input-group-btn){
	width:102px;
}
.wrap :global(.u-input-group .u-input-group-btn .u-button){
	height:38px;
}
.wrap :global(.u-input-group .u-form-control),
.wrap :global(.u-input-group .u-button){
	border-color:#D9D9D9;
}
.wrap :global(.u-input-group-btn .u-button){
	width:100px;
	border-left:none;
	display: flex;
}
.wrap :global(.u-input-group .u-button)>span{
	color:#D9D9D9;
	line-height:38px;
	box-flex:1;
	margin:0 11px;
}
.wrap :global(.u-input-group .u-button .iconfont){
	box-flex:1;
	line-height:38px;
}
.wrap :global(.u-input-group .u-button) .u_button_tit{
	color:#4A515D;
}
.wrap :global(.u-autocomplete-options){
	background:#fff;
}
.wrap :global(.u-button-group, .u-button-group-vertical){
	width:256px;
	height:635px;
	border:1px solid #DDE0E3;
	border-radius: 3px ;
	box-shadow:none;
}
.menuBtnGroup{
  width:180px;
	height:100%;
	border:1px solid #DDE0E3;
	border-radius:3px;
	padding:20px 0;
	box-sizing:border-box;
}
.menuBtnGroup :global(.u-button){
	display:block;
	width:178px;
	padding:3px 0 3px 23px ;
	color:#4A515D;
	text-align: left;
	border-radius:0;
}
.menuBtnGroup :global(.u-button):hover{
	background:rgba(239,239,239,1);
	color:#E14C46;
}
.appContent{
	padding-left: 16px;
}
/*
.appContent img{
	width:32px;
	height:32px;
	background:rgba(216,216,216,1);
	border-radius: 3px ;
}
.appContent span{
	font-size:14px;
	font-family:MicrosoftYaHei;
	line-height:32px;
	color:rgba(74,81,93,1);
	margin-left:8px;
}
*/

.appContent header{
	padding-bottom:8px;
	border-bottom:1px solid #DDE0E3;
	display:flex;
}
.appContent header img{
  width:32px;
  height:32px;
}
.appContent header span{
  display: inline-block;
  font-size: 14px;
  font-family: MicrosoftYaHei;
  line-height: 32px;
  color: rgba(74,81,93,1);
  margin-left: 8px;
}
.appContent header span:hover{
  color:#E14C46;
  cursor: pointer;
}
.appContent hgroup{
  flex-wrap:wrap;
  padding-bottom: 48px;
}

/*
.clearfix{
  overflow: hidden;
}
.singleService{
	float: left;
	width:228px;
	height:100px;
	padding:40px 0 0 13px;
	margin-right: 20px;
	border-bottom:1px solid #DDE0E3;
}
.services{
  width:346px;
  height:68px;
}
.serviceInfo{
  float: left;
  height:26px;
  margin-left:8px;
}
.wrap :global(.u-button-group-vertical){
	border-right: 1px solid #DDE0E3;
}
*/

.wrap :global(.u-button-group-vertical .active){
	background:rgba(239,239,239,1);
	color:#E14C46;
}
.link {
  width:160px;
  height:52px;
  background:rgba(244,245,247,0.5);
  border-radius: 3px ;
  display:flex;
  align-items:center;
  margin-right: 24px;
  margin-top: 16px;
}
/*.link:nth-child(6){
  margin-right: 0;
}*/
.link:hover{
  background:rgba(225,76,70,0.1);
	cursor: pointer;
}

.link .icon{
  width:24px;
  height:24px;
  background:rgba(194,199,199,1);
  border-radius: 3px ;
  margin-left: 16px;
  margin-right: 16px;
}
.link span{
  height:16px;
  font-size:12px;
  font-family:MicrosoftYaHei;
  color:rgba(71,77,84,1);
  line-height:16px;

}
.link:hover span{
	color:#E14C46;
	cursor: pointer;
}
