.select_widget_list{
  display: -webkit-box;
  position: relative;
  width: 100%;
  height: 100%;
  /**
  
  margin-top: -26px;
  padding-left: 10px;
  **/
}

.widget_left{
  width: 190px;
}

.widget_right{
  -webkit-box-flex:1;
  padding-top: 27px;
}

.widget_left .title{
  width: 100%;
  min-height:400px; 
  font-size:19px;
  font-family:MicrosoftYaHei;
  color:rgba(71,77,84,1);
  line-height:25px;
}

.searchPanel{
  
  width: 100%;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  position: relative;
  margin: 5px 0;
  padding-bottom: 54px;
  position: relative;
}
.form_control{
  width:456px;
  height:38px; 
  border: 1px solid rgba(78,89,104,0.19);
}

.panel{
  width: 100%;
  display: -webkit-box;
  position: relative;
  padding-top: 30px;
}
.panel_left{
  width: 224px;
  height: 100%;
  border: 1px solid rgba(78,89,104,0.19);
  border-radius: 3px;
}
.panel_right{
  -webkit-box-flex:1;
  margin-left: 10px;
  overflow: scroll;
  height: 481px;
}

.panel_left>div{
  width: 100%;
}
.panel_left>div>button{
  height: 50px;
}

.panel_left :global(.u-button-border){
  border: none;
}

.footer_btn{
  height: 48px;
  line-height: 48px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: -webkit-box;
  -webkit-box-pack: end;
  padding-right: 150px;
  background: rgba(26,32,38,0.6);
}
.footer_btn>div{
  margin-right: 8px;
}

.search_icon_con{
   height: 38px;
  position: absolute;
  top: 0px;
  left: 360px;
}

.search_icon_con Icon{
  color:rgba(71,77,84,1);
  font-size:12px;
  margin-left: 10px;
}
.search_icon_con > span{
  color: rgba(217,217,217,1);
}
