.WidgetTitle{
  height: 50px;
  line-height: 50px;
  color:rgba(136,136,136,1);
}
.WidgetTitle :global(.iconfont){
  font-size: 30px;
  margin-right: 20px;
}
.addGroupBtn{
	height:28px;
	background: #fff;
	border: 1px solid #D9D9D9;
	padding:0 9px;
	margin:15px 0;
	font-size:12px;
	line-height:28px;
	color:rgba(74,81,93,1);
	margin-left: 665px;
}

.select_widget_list{
	position: relative;
}
.icon{
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 40px;
    width: 70px;
}
.icon:hover{
	background: #ccc;
	border-radius: 50%;
}
.search_icon{
	font-size: 30px;
}
:global(.u-modal.in .u-modal-dialog){
	width: 80%;
	height: auto;
	background: rgba(238, 238, 238, 0.976470588235294);
}
/***
:global(.u-modal.in .u-modal-dialog){
	width: 80%;
	height: auto;
	background: rgba(238, 238, 238, 0.976470588235294);
}
:global(.u-modal .u-modal-content){
	background: rgba(238, 238, 238, 0.976470588235294);
}

:global(.u-button-group-vertical){
	width: 100%;
	height: 50px;
}
:global(.u-row){
	margin-left:0;
}

:global(.u-col-sm-4){
	width: 224px;
    background: yellow;
    padding: 0;
}

:global(.u-button-group-vertical>.u-button){
	height: 50px;
}
:global(.u-modal-dialog .u-modal-footer){
	display: none;
}

:global(.u-modal .u-modal-header){
	display: none;
}

***/

.panel{
	padding-top: 30px;
	display: -webkit-box;
}
.panel_left{
	width: 224px;
	// -webkit-box-flex:1;
}
.panel .right{
	-webkit-box-flex:1;
	margin-left: 10px;
}
.panel_left>div{
	width: 100%;
}
.panel_left>div>button{
	height: 50px;
}

.searchPanel{
	width: 100%;
	height: 70px;
	line-height: 70px;
	margin-left: 14px;
	border-bottom: 1px solid rgba(204, 204, 204, 1);
	position: relative;
	padding-bottom: 90px;
}
.form_control{
	width: 437px;
    height: 50px;
    
}
:global(.u-modal .u-modal-content){
	background: rgba(238, 238, 238, 0.976470588235294);
}
