.select_widget_list{
  position: relative;
  width: 100%;
  height: 100%;
}

.widget_left{
  width: 190px;
  height:25px;
}

.widget_right{
  -webkit-box-flex:1;
  position: relative;
  height: 100%;
}

.widget_left .title{
  width: 100%;
  font-size:19px;
  font-family:MicrosoftYaHei;
  color:rgba(71,77,84,1);
  line-height:25px;
}

.searchPanel{
  width: 100%;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid rgba(13,20,36,0.1);
  position: relative;
  margin: 5px 0;
  padding-bottom: 54px;
  position: relative;
}
.form_control{
  width:472px;
  height:38px; 
  border: 1px solid #dee0e3;
  color:#bec0c4;
}

.panel{
  width: 100%;
  height: calc(100% - 60px);
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex; 
  position: relative;
  padding-top: 30px;
}
.panel_left{
  vertical-align: top;
  width: 244px;
  position: relative;
}
.panel_left :global(.u-button-group-vertical){
  height: calc(100% - 40px);
  border: 1px solid rgba(78,89,104,0.19);
  border-radius: 3px;
  padding:20px 0;
  margin-top: 8px;
}
.panel_right{
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
}
.panel_right>div{
  margin-left: 15px;
  overflow-y: scroll;
  height: calc(100% + 48px);
  padding-right: 5px;
}
.panel_right::-webkit-scrollbar{
    width: 8px;
}
.panel_right::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #757575;
}
/* .panel_left>div{
  width: 100%;
  margin-top: 8px;
} */
.panel_left>div>button{
  height: 26px;
  text-align: left;
  padding:0 23px;
}
.panel_left :global(.u-button-group-vertical>.u-button:first-child:not(:last-child)){
  border-radius:0;
}
.panel_left :global(.u-button-border:focus),.panel_left :global(.u-button-border:hover){
  color:#E14C46;
}
.panel_left :global(.u-button-group-vertical .active),.panel_left :global(.u-button-group-vertical .u-button):active{
  background:#eee;
  color:#E14C46;
}
.panel_left :global(.u-button-border){
  border: none;
}

.footer_btn{
  height: 48px;
  line-height: 48px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: -webkit-box;
  -webkit-box-pack: end;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-right: 150px;
  background: rgba(255,255,255,0.8);
}
.footer_btn>div{
  margin-right: 8px;
}

.search_icon_con{
  height: 38px;
  position: absolute;
  top: 0px;
  left: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.search_icon_con :global(.iconfont){
  color:#878B94;
  font-size:20px;
  font-weight:bold;
  margin-left: 22px;
  box-flex:1;
  line-height:40px;
}
.search_icon_con > span{
  color: #bec0c4;
  box-flex:1;
  line-height:38px;
}
.search_icon_con .search_tit{
  color:rgba(74,81,93,1);
  margin-left:8px;
}
.panel_left :global(.u-button-group-vertical){
  width: 242px;
}
.panel_left :global(.u-button-group>button){
  width:77px;
  height:32px; 
  background:rgba(9,30,66,0.04);
  border-radius: 3px 3px 0px 0px ;
  margin-right: 2px;
}
.btn_active{
  background:rgba(252,237,236,1) !important;
}