.applyForm {
  padding-bottom: 30px;
  width:510px;
}
.applyForm :global(.u-form-item ){
  padding:10px 0;
}
.applyForm :global(.u-form-item label> span){
  display: inline-block;
  width: 140px;
  text-align: right;
}
.applyForm :global(.u-form-item span.error){
  display: block;
  padding-left: 140px;
  padding-top: 4px;
  color: #eb1d15;
}
.applyForm :global(input.companyInput),
.applyForm :global(input.linkman),
.applyForm :global(input.tenantTel){
  width: 370px!important;
  box-sizing: border-box;
  height: 50px;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(221,221,221,1);
  
}
.applyForm :global(.u-select .u-select-selection){
  height: 50px;
  width: 370px;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(221,221,221,1);
  border-radius:0px;
}
.applyForm :global(.u-city-select){
  display: inline-block;
}
.applyForm :global(.u-city-select .u-select .u-select-selection),
.applyForm :global(.u-form-item .u-select){
  width: 180px;
  margin-right:0;
}
.applyForm :global(.province.u-select.u-select-enabled) {
  margin-right: 10px;
}
.applyForm  :global(.u-input-group-outer){
  min-width: 370px!important;
}
 
.applyForm :global(.u-select-selection-rendered){
  line-height: 50px;
}
.applyForm :global(.u-form-inline .u-label) {
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  color: rgba(51,51,51,1);
  line-height: 50px;
  text-align: right;
  width: 140px;
  padding-right: 30px;
}
body  .applyForm :global(.u-form-control),
body  .applyForm :global(.u-form-item .u-select){
  border-radius: 0!important;
  font-size:16px;
}
.applyForm :global(.area.u-select.u-select-enabled){
  display: none;

}
.applyForm :global(.u-form-submit-btn.u-button-primary){
  width: 370px;
  height: 50px;
  font-size: 18px;
  background: #eb1d15;
  line-height: 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  float: right;
  border: 1px solid #eb1d15;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: -34px;
  opacity: 0;
  visibility: hidden;
}
.applyBtn:global(.disabled){
  background: #ddd;
}

.applyBtn{
  width: 370px;
    height: 50px;
    font-size: 18px;
    background: #eb1d15;
    line-height: 50px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    float: right;
}
