.bg{
	width:100%;
	background: rgb(230,233,233);
	padding-top:10px;
}
.bg_wrap{
	background:#fff;
	border-radius: 3px ;
}
.wrap{
  padding:27px 80px;
  overflow-y: hidden;
}
.wrap :global(.u-button){
	margin:0;
	background:#fff;
}
.searchPanel{
  width: 100%;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid rgba(13,20,36,0.1);
  position: relative;
  margin: 5px 0;
  padding-bottom: 54px;
  position: relative;
}
.serviceSearch{
	width:472px;
	height:32px;
	border: 1px solid #dee0e3;
}
.wrap .um_content{
	padding:20px 0;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
}
.menuBtnGroup{
 	width:180px;
  /* min-height:470px; */
  height: 100%;
  height:calc(100% - 40px);
	border:1px solid #DDE0E3;
  border-radius:3px;
  margin-top:8px;
	padding:20px 0;
	-webkit-box-sizing:border-box;
  box-sizing:border-box;
  overflow: hidden;        
}
.menuBtnGroup :global(.u-button-group-vertical>.u-button:first-child:not(:last-child)){
  border-radius:0;
}
.menuBtnGroup :global(.u-button){
	display:block;
	width:178px;
  padding:3px 0 3px 23px ;
	text-align: left;
	border-radius:0;
}
.topTabBtns :global(.u-button){
  width: 77px;
  height: 32px;
	background:rgba(9,30,66,0.04);
  border: none;
  margin-right: 3px;
}
.menuBtnGroup :global(.u-button):hover,
.wrap :global(.u-button-group-vertical .active){
	background:#f3f3f3;
	color:#E14C46;
}
.topTabBtns :global(.u-button):hover,
.wrap :global(.u-button-group .active){
	background:rgba(252,237,236,1);
	color:rgba(225,76,70,1);
}
.appContent{
  padding-left: 12px;
  height: 100%;
}

.appItemImg img{
  width:30px;
  height:30px;
  margin:9px 9px;
}
.appsList li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float:left;
  width: 238px;
  height: 98px;
  padding: 9px;
  margin:0 0 16px 8px;
  border: 1px solid rgba(78,89,104,0.19);
  border-radius:3px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(74,81,93,0.1);
}
.appsList li:hover{
  -webkit-box-shadow: 0 3px 6px 0 rgba(74,81,93,0.25);
  box-shadow: 0 3px 6px 0 rgba(74,81,93,0.25);
  cursor:pointer;
}
.appItem_describe p{
  margin:5px 0;
  margin-top: 13px;
}
.appItem_describe .appItem_tit{
  color:#111111;
}
.appItem_describe .appItem_con{
  color:#888888;
}
.search_icon_con{
  height: 38px;
  position: absolute;
  top: 0px;
  left: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  cursor:pointer;
}
.search_icon_con :global(.iconfont){
  margin-left: 22px;
  line-height:40px;
}
.search_icon_con > span{
  color: #d9d9d9;
  box-flex:1;
  line-height:38px;
}
.search_icon_con .search_tit{
  color:rgba(74,81,93,1);
  margin-left:8px;
}
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* ie9兼容 */
:global(.ie9) .search_icon_con>span,:global(.ie9) .search_icon_con>i{
  float: left;
}
:global(.ie9) .wrap .um_content{
  padding:20px 0;
  height:100%;
}
:global(.ie9) .wrap .um_content>div:first-child{
  float: left;
}
:global(.ie9) .menuBtnGroup{
  min-height: 350px;
}
:global(.ie9) .appsList li{
  display: table;
}
:global(.ie9) .appsList li>div>img{
  height: 36px;
  width: 36px;
}
:global(.ie9) .appsList li>div{
  display: table-cell;
  vertical-align: top;
}
.wrap .openMarketBtn {
  float: right;
  background: #e14c46;
  color: #fff;
}
