
.HomePagePanel{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    min-width: 1200px;

}
/* 正文内容
.HomeOnePage {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.HomePagePanel .rightDotMenu {
    width: 12px;
    text-align: center;
    position: fixed;
    top:50%;
    margin-top:-36px;
    right:30px;
    z-index:2!important;
}
.HomePagePanel .rightDotMenu :global(.menudot){
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 10px;
    display: block;
    margin: 0;
    margin-bottom: 14px;
    cursor: pointer;
}
.HomePagePanel .rightDotMenu :global(.menudot.active){
    background: #eb1d15;
}

/*animation*/
:global(.animation0){
    transition: 500ms ease;
    transform: translate3d(0px, 0%, 0px);
}
:global(.animation1){
    transition: 500ms ease;
    transform: translate3d(0px, -100%, 0px);
    top:-100%\9;
}
:global(.animation2){
    transition: 500ms ease;
    transform: translate3d(0px, -200%, 0px);
    top:-200%\9;
}
:global(.animation3){
    transition: 500ms ease;
    transform: translate3d(0px, -300%, 0px);
    top:-300%\9;
}
:global(.animation4){
    transition: 500ms ease;
    transform: translate3d(0px, -400%, 0px);
    top:-400%\9;
}
:global(.animation5){
    transition: 500ms ease;
    transform: translate3d(0px, -500%, 0px);
    top:-500%\9;
}
:global(.animation6){
    transition: 500ms ease;
    transform: translate3d(0px, -600%, 0px);
    top:-600%\9;
}
:global(.animation7){
    transition: 500ms ease;
    transform: translate3d(0px, -700%, 0px);
    top:-700%\9;
}
/*下面是登陆的内部*/
:global(.popbox .loginbox .iframe), 
:global(.popbox .loginbox iframe), 
:global(.popbox .popmask) {
    width: 100%;
    height: 100%;
}
:global(.popbox .popmask){
    visibility: hidden;
    display: block;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    background: transparent;
}
:global(.stat-login .loginbox), 
:global(.popbox .popmask) {
    visibility: visible;
}

:global(.popbox .loginFramePanel) {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -200px;
    z-index: 998;
    width: 400px;
    background: rgba(0, 0, 0, 0.6);
    height: 388px;
    border-radius: 8px;
}
:global(iframe#yhtloginIframe) {
    border: none;
    width: 400px;
}
:global(.popbox .close){
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: 0;
    color: #ddd;
    z-index: 999;
    cursor: pointer;
    background-image: url(../close.png);
    width: 12px;
    height: 12px;
    margin-left: -185px;
    margin-top: 15px;
}
:global(.goNextArrow){
    /* background-image: url('./pages/images/arrowdown.png'); */
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50% , -50%);
    cursor: pointer;
}
