.enter_form :global(.u-label) {
  width: 75px;
  text-align: right;
}

.enter_form :global(.province),
.enter_form :global(.city),
.enter_form :global(.area) {
  width: 90px!important;
}

.enter_form :global(.u-input-before){
  line-height: 38px !important;
}
.enter_form :global(.uf.uf-calendar) {
  position: relative;
  top: -4px;
  right: 9px;
}
.enter_form :global(.u-form-control){
  font-size: 14px;
}
.enter_form :global(.u-select){
  font-size: 15px;
}
.enter_form :global(.u-form-submit) {
  padding-left: 147px;
}
.enter_form :global(.u-form-submit>button) {
  width:338px;
  height:32px;
  background:rgba(225,76,70,1);
  border-radius: 3px;
  margin-left:-70px;
  color:#fff;
}
.enter_form :global(textarea) {
  min-height: 100px;
  min-width: 300px;
}
.enter_form :global(.u-form-item){
  width: 100%;
}
.enter_form :global(.u-select-selection--single){
  height: 36px !important;
}
.enter_form :global(.u-select-selection-rendered){
  line-height: 36px !important;
}

.enter_cont :global(.u-select-selection-rendered .u-select-selection-rendered){
  line-height: 36px;
}


.page_enterprise{
  margin: 10px 120px;
  background: #fff;
  /* text-align: center; */
  /* padding-left: 100px; */
  overflow: auto;
  padding-bottom: 50px;
  min-width: 500px;
}

.enter_title{
  height:27px;
  font-size:21px;
  color:#474D54;
  font-weight: 600;
  line-height:27px; 
  width: 360px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid rgba(13,20,36,1); */
}

.hr{
  background: rgba(13,20,36,0.1);
  height: 1px;
  margin-left: 30px;
  border-top: none;
  margin-bottom: 25px;
  width: 90%;
}

.enter_cont{
  width: 360px;
  margin: 0 auto;
}

.enter_form :global(.u-input-inner>input){
  width:338px !important;
  height:36px;
  background:rgba(255,255,255,1);
  border-radius: 3px ;
  border:1px solid RGBA(78, 89, 104, 0.2);
}

.enter_form :global(.u-input-before){
  height:36px;
  line-height: 36px;
  display: none;
}
.enter_form >span:nth-child(5) :global(.u-form-item){
  margin-top: -20px;
}

.enter_form :global(.u-city-select){
  display: inline-flex;
}

.enter_form :global(.u-select-lg .u-select-selection--single){
  width: 271px;
  border:1px solid RGBA(78, 89, 104, 0.2);
}

/*.enter_form :global(.u-select .u-select-arrow):before{
  content: "\E964" !important;
  font-family: 'iconfont' !important;
}*/

.tenant_address{
  background: red;
}

.lxr_hr{
  width:450px;
  height:1px;
  background:rgba(13,20,36,1);
  opacity:0.1;
  margin-top: 15px;
  margin-bottom: 20px;
}
.lxr_title{
  margin-left: 76px;
  margin-bottom: 20px;
  font-size: 17px;
}
.hr2{;
  margin-top: -40px;
  background:rgba(13,20,36,1) !important;
  opacity:0.1;
  margin-left: 30px;
  margin-right: 30px;
}
.lxr_hr_bottom{
  margin-left: -160px;
  width:450px;
  height:11px;
  background:rgba(13,20,36,1);
  opacity:0.1;
  margin-top: -15px;
  margin-bottom: 20px;
}

.lxr_hr_bottom>hr{
  width:100%;
}

.appBreadcrumb{
  padding-left: 23px;
  font-size: 12px;
  height:32px;
  background:rgba(255,255,255,1);
}

.home_none :global( .lebra-navbar-right)>div{
  display: none;
}