.upload_page{
  position: relative;
  /* margin-top: -16px; */
  width: 64px;
  height: 64px;
}
.upload_page img{
  position: absolute;
  top: 0px;
  left: 0px;
}

.uploadImg {
  width: 87px;
  height: 26px;
  background: rgba(225, 76, 70, 1);
  border-radius: 3px;
  margin-left: 127px;
  margin-top: 8px;
  color: rgba(255,255,255,1);
  font-size: 12px;
}

.appImg{
  /*background: rgba(186,191,197,0.18);*/
  background: rgba(190,193,200,1) url("assets/image/uploadImg.svg") no-repeat;

  width:64px;
  height:64px; 
  /* background:rgba(190,193,200,1); */
  border-radius: 50%;
  background-position: 1px;
}
/* :global(.ie9) .appImg{
  height:auto;
} */
.appValidate{
  color: rgb(244, 67, 54);
  display: inline-block;
  margin-left: 10px;
}

.upload_page :global(.u-button){
  padding: 0;
}

.edit{
  width:24px;
  height:24px; 
  background:rgba(0,0,0,0.6);
  position: absolute;
  right: 0px;
  bottom: 5px;
  border-radius: 50%;
  padding-left: 3px;
  padding-top: 1px;
  cursor: pointer;
}

.edit i{
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  display: block;
}
.titlp_lab{
  position: absolute;
  width: 150px;
  top: 34px;
  left: 80px;
  padding-left: 15px;
  color: red;
  font-size: 12px;
}

.form_btnFile{
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 60px;
  opacity: 0;
  z-index:2001;
  opacity: 0;
}
.ie9_form{ 
  position: absolute;
  /* background: red; */
  top: 0px;
  right: 0px;
  width: 64px;
  height: 64px;
  text-align: right;
  line-height: 36px;
  padding-right: 3px;
}

.uploadImgIe9{
  /* position: absolute;
  bottom: 0px;
  margin-bottom: 15px; */
}

.hidden_form{
  /* display: none; */
  position: relative;
}

.icon{
  color: #fff;
}