.header{
    position: fixed!important;
    width: 100%;
    min-height: 44px;
    background-color:rgba(255,255,255,0.92);
    z-index: 100;
}
.HeaderLeft{}
.HeaderLeft img{
  width: 58px;
  height: 27px;
}
.um_content{
	background:#e6e9e9;
	margin-bottom: 48px;
	margin-top:48px;
}
.umBoxJustify{
	height:48px;
	padding:10px 75px;
	position:relative;
	background:rgba(26,32,38,0.6);
}
.umBoxJustify button{
	height:28px;
	padding: 0 22px;
	border: 1px solid #d9d9d9;
	font-size: 12px;
	line-height: 28px;
	color:#fff;
	background:transparent;
}
.umBoxJustify button:hover{
	color:#4A515D;
	background:rgba(255,255,255,0.6);
	border:none;
}
.umBoxJustify button:disabled,.umBoxJustify :global(.u-button[disabled]:hover){
	background:rgba(255,255,255,0.2);
    color:#fff;
    border:none;
}
.umBoxJustify .preserve{
	background:#e14c46;
	border:none;
}
.umBoxJustify .preserve:hover{
	background:#d03630;
	border:none;
	color:#fff;
}
.batchArea button{
  margin-right:8px;
}
.saveArea button{
  margin-left:8px;
}
.um_footer{
	width:100%;
	position:fixed;
	bottom: 0;
}
