.widgetTitle{
  height: 50px;
  line-height: 50px;
  color:rgba(136,136,136);
  margin-bottom:16px;
}
.widgetTitle :global(.iconfont){
  font-size: 30px;
  margin-right: 20px;
  cursor:pointer;
}
.addBtn{
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.addGroupBtn{
	display:flex;
	height:28px;
	background: #fff;
	border: 1px solid #D9D9D9;
	border-radius:3px;
	padding:0 8px;
	margin:15px 0;
	font-size:12px;
	line-height:26px;
	color:rgba(74,81,93,1);
}
.addGroupBtn:hover{
	color:#E14C46;
}
.addGroupBtn :global(.iconfont){
	font-size:16px;
	line-height:26px;
	font-weight:900;
	color:#878b94;
	margin:0 5px;
	box-flex:1;
	-webkit-box-flex:1;
}
.addGroupBtn span{
	box-flex:1;
	-webkit-box-flex:1;
}
.addGroupBtn:hover :global(.iconfont){
	color:#E14C46;
}
.widgetTitle :global(.u-button){
	height:22px;
	background:#fff;
	padding: 0px;
	border-radius:3px;
	margin:8px;
	margin-top: 6px;
	font-size: 12px;
	line-height: 22px;
	color:#4A515D;
	min-width:4.2rem;
}
.widgetTitle button:hover{
	background:rgba(225,76,70,1);
	color:#fff;
}
.newGroupName{
	width:176px;
	height:22px;
	border:1px solid #878B94;
	padding:0 9px;
	font-size:12px;
	color:rgba(51,51,51,1);
}
.widgetTitle :global(.uf),.widgetTitle :global(.iconfont){
	font-size:20px;
	color:#4A515D;
	margin-right:23px;
	font-weight: bold;
}
.widgetTitle :global(.iconfont):hover{
	color:#242D3B;
}
.titleInputArea{
  position:relative;
  display: inline-block;
}
.titleInputArea .icon{
	cursor: pointer;
	color:rgb(179,179,179);
	font-size:14px;
	margin:0;
	position:absolute;
  	right:0;
  	top: 50%;
  	transform: translate(0, -50%);
  	font-size: 20px;
}
.newGroupName+:global(.uf):hover{
	color:#4A515D;
}
.groupArea>section{
  border: 1px solid #fff;
  min-width: 460px;
  border-radius:3px;
  padding: 0.5rem 0 2.5rem 4rem;
  margin: 0 33px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  background:rgba(79,86,98,0.1);
  cursor: move;
}
.selectedBackClass{
	background:rgba(51,58,68,0.2) !important;
}
