@font-face {
  font-family: 'iconfont';
  src:  url('iconfont.eot?irsm6q');
  src:  url('iconfont.eot?irsm6q#iefix') format('embedded-opentype'),
    url('iconfont.ttf?irsm6q') format('truetype'),
    url('iconfont.woff?irsm6q') format('woff'),
    url('iconfont.svg?irsm6q#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loan:before {
  content: "\e949";
}
.icon-price:before {
  content: "\e912";
}
.icon-hide:before {
  content: "\e913";
}
.icon-comment:before {
  content: "\e914";
}
.icon-computer:before {
  content: "\e915";
}
.icon-configuration:before {
  content: "\e916";
}
.icon-conserve:before {
  content: "\e917";
}
.icon-delete-friend:before {
  content: "\e918";
}
.icon-document:before {
  content: "\e919";
}
.icon-e-mail:before {
  content: "\e91a";
}
.icon-expense:before {
  content: "\e91b";
}
.icon-export:before {
  content: "\e91c";
}
.icon-file:before {
  content: "\e91d";
}
.icon-hard-disk:before {
  content: "\e91e";
}
.icon-information:before {
  content: "\e91f";
}
.icon-instrument-2:before {
  content: "\e920";
}
.icon-instrument-3:before {
  content: "\e921";
}
.icon-instrument:before {
  content: "\e922";
}
.icon-integral:before {
  content: "\e923";
}
.icon-favorite:before {
  content: "\e924";
}
.icon-link:before {
  content: "\e925";
}
.icon-location:before {
  content: "\e926";
}
.icon-lock:before {
  content: "\e927";
}
.icon-love:before {
  content: "\e928";
}
.icon-message:before {
  content: "\e929";
}
.icon-navigation:before {
  content: "\e92a";
}
.icon-notification:before {
  content: "\e92b";
}
.icon-pad:before {
  content: "\e92c";
}
.icon-copyreader:before {
  content: "\e92d";
}
.icon-personage-2:before {
  content: "\e92e";
}
.icon-personage:before {
  content: "\e92f";
}
.icon-personal-details:before {
  content: "\e930";
}
.icon-phone:before {
  content: "\e931";
}
.icon-picture:before {
  content: "\e932";
}
.icon-pin-2:before {
  content: "\e933";
}
.icon-pin:before {
  content: "\e934";
}
.icon-praise:before {
  content: "\e935";
}
.icon-print-2:before {
  content: "\e936";
}
.icon-print:before {
  content: "\e937";
}
.icon-record:before {
  content: "\e938";
}
.icon-report:before {
  content: "\e939";
}
.icon-search:before {
  content: "\e93a";
}
.icon-send:before {
  content: "\e93b";
}
.icon-server:before {
  content: "\e93c";
}
.icon-service:before {
  content: "\e93d";
}
.icon-setting:before {
  content: "\e93e";
}
.icon-settle-account:before {
  content: "\e93f";
}
.icon-share:before {
  content: "\e940";
}
.icon-shrink:before {
  content: "\e941";
}
.icon-speediness:before {
  content: "\e942";
}
.icon-staff:before {
  content: "\e943";
}
.icon-staffs:before {
  content: "\e944";
}
.icon-toolbox:before {
  content: "\e945";
}
.icon-uploading2:before {
  content: "\e946";
}
.icon-wallet:before {
  content: "\e947";
}
.icon-enlargement:before {
  content: "\e948";
}
.icon-add-friends:before {
  content: "\e906";
}
.icon-analyze:before {
  content: "\e907";
}
.icon-application:before {
  content: "\e908";
}
.icon-bad:before {
  content: "\e909";
}
.icon-credit-card:before {
  content: "\e90a";
}
.icon-bill:before {
  content: "\e90b";
}
.icon-business:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-card:before {
  content: "\e90e";
}
.icon-chat:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-clock:before {
  content: "\e911";
}
.icon-download:before {
  content: "\e903";
}
.icon-uploading:before {
  content: "\e904";
}
.icon-yy-cloud:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e902";
}
.icon-display:before {
  content: "\e901";
}
.icon-plane:before {
  content: "\e900";
}