.sideBar {
	width: 100%;
	height: 100%;
}
.menuItem{
	width:20px;
	height:20px;
	color:rgba(135,139,148,1);
	font-size: 14px;
	margin:-3px 8px 0 0 ;
}

.sideMainMenu{
	border:none;
	box-shadow: none;
}

.sideBar :global(.u-menu-sub.u-menu-inline>.u-menu-item){
	height:30px;
	line-height: 30px;
	/* margin-left: 18px; */
}
.sideBar :global(.u-menu-submenu-selected){
	background: #ffffff;
}
.sideBar :global(.u-menu-submenu-selected .u-menu-item-selected) {
	background: #e4e4e4;
}

:global(.u-menu-item-active){
	background:#f3f3f3;
}

:global(.u-menu-submenu-inline > .u-menu-submenu-title:after){
  content: "\E964" !important;
  font-family: 'iconfont' !important;
}
.sideBar :global(.um-icon-md){
	line-height: 20px;
	text-align: center;
	margin-left: -1px;
}
.sideBar :global(.u-menu-submenu-open.u-menu-submenu-inline > .u-menu-submenu-title i){
	-webkit-transform: rotate(90deg) scale(1.0);
	transform: rotate(90deg) scale(1.0);
	display: inline-block;
	height: auto;
	position: relative;
}

:global(:root .u-menu-submenu-inline > .u-menu-submenu-title:after){
	display: none;
}
.sideBar :global(.u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected),
.sideBar :global(.u-menu-submenu-active.u-menu-submenu-inline>.u-menu-submenu-title:after){
	background: #e4e4e4;
	color: #E14C46;
}
.sideBar :global(.u-menu-submenu>.u-menu){
  background: transparent;
}
.sideBar :global(.item_1){
	position: relative;
	margin-left: -14px;
}
.sideBar :global(.item_2){
	position: relative;
	margin-left: -14px;
}
.sideBar :global(.item_3){
	position: relative;
	margin-left: -14px;
}
:global(.item_1){
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	color: #111111;
}

:global(.item_2){
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
}
:global(.item_2 i){
	margin-right: 4px;
	width: 20px;
	height: 20px;
	line-height:20px;
	text-align:center;
}
:global(.item_3){
	font-size: 14px;
}
:global(.item_4){
	font-size: 14px;
}
.last_item{
	margin-left: 10px !important;
}
.last_item:global(.item_3){
	margin-left: 0 !important;
}


.u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected{
	color:#E14C46;
}
.u-menu-submenu-active.u-menu-submenu-inline>.u-menu-submenu-title:after{
	color:#E14C46;
}

.u-menu-inline .u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected {
	border:none;
}
