.btn{
  width:80px;
  height:32px; 
  text-align: center;
  cursor:pointer;
  border-radius: 3px ;
  box-sizing: border-box;

  font-size:14px;
  font-family:Helvetica;
  color:rgba(255,255,255,1);
  line-height:32px;
}

.default_btn{
  background:rgba(255,255,255,0.08);
  border: 1px solid #FFFFFF;
}

.active_btn{
  background:rgba(252,237,236,1);
  color:rgba(225,76,70,1);
}

.active_btn:hover,
.default_btn:hover{
  border: 1px solid rgba(255,255,255,0.5);
}

.disabled_btn{
  background:rgba(245,246,248,1);
 color:rgba(165,173,186,1);
 opacity:70; 
 cursor: not-allowed;

}

.loading_btn{
  
}