.btn{
  width:22px;
  height:22px; 
  text-align: center;
  cursor:pointer;
  border-radius: 3px ;
  box-sizing: border-box;

  font-size:14px;
  font-family:Helvetica;
  color:rgba(255,255,255,1);
  line-height:32px;
}

.default_btn{
  background:rgb(118, 127, 139);
  border: 1px solid rgba(117,127,140,1);
}

.active_btn{
  background:#444651;
  border: 1px solid #444651;
}

.default_btn:hover{
  background:#2D3F5D;
  border: 1px solid #2D3F5D;
}

.disabled_btn{
  
}

.loading_btn{
  
}