.default_font{
  font-size:14px;
  font-family:Helvetica;
  color:rgba(255,255,255,1);
  line-height:32px;
}

.default_btn{
  width:80px;
  height:32px; 
  background:rgba(255,255,255,0.08);
  border: 1px solid #FFFFFF;
  border-radius: 3px ;
  text-align: center;
  cursor:pointer;
}

.default_btn:hover{
  background:rgba(210,61,55,1);
  color:rgba(255,255,255,1);
  background:rgba(255,255,255,0.08);
}
.active_btn{
  background:rgba(252,237,236,1) !important;
  color:rgba(225,76,70,1);
}

.disabled_btn{
  background:rgba(245,246,248,1);
 color:rgba(165,173,186,1);
 opacity:70; 
}

.loading_btn{
  
}