.btn{
  width:80px;
  height:32px; 
  text-align: center;
  cursor:pointer;
  border-radius: 3px ;
  box-sizing: border-box;

  font-size:14px;
  font-family:PingFangSC-Regular;
  color:rgba(255,255,255,1);
  line-height:32px;
}

.default_btn{
  color:rgba(71,77,84,1);
}

.active_btn{
  background:rgba(225,76,70,0.1);
  color:rgba(225,76,70,1);
}

.default_btn:hover{
  color:rgba(71,77,84,1);
  background:rgba(9,44,66,0.08);
}

.disabled_btn{
  background:rgba(9,44,66,0);
  color:rgba(165,173,186,1);
 cursor: not-allowed;

}

.loading_btn{
  
}
