.breadcrumbClass {
  font-size:14px;
}
.breadcrumbClass :global(.iconfont) {
  display:inline-block;
  margin:-8px 0 0 14px;
  vertical-align: middle;
  line-height:27px;
  cursor: pointer;
}
.breadcrumbClass :global(.iconfont):hover{
	color:#E14C46;
}
.menu_expended{
  margin-left: 200px !important;
}
.breadcrumbClass section{
  display: none;
  width: 220px;
  height:38px;
  padding:9px 0px;
  border-radius: 0 3px 0 0;
  background:#9FA4AE;
  color:#fff;
  font-size:14px;
  position: relative;
  padding-left: 16px;
  box-sizing: border-box;
}
.breadcrumbClass section :global(.iconfont){
  margin:-2px 15px 0 0;
  font-size:24px;
  color:#fff;
  position:absolute;
  right:0;
}
.breadcrumbClass .breadcrumb_menu{
  display: inline-block;
}
.breadcrumbClass .breadcrumb_tab{
  display: none;
}
.breadcrumbArea{
  margin-left: 15px;
  display: inline-block;
}
