
.pulldown{
  position: relative;
  top: 0;
  float: left;
  width: 36px;
  height: 100%;
  /* line-height: 40px; */
  text-align: center;
  cursor: pointer;
  border-left:1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
.pulldown button{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  min-width: auto;
  background: none;
}
.pulldown button i{
  /* color: #111111; */
  color: #888888;
}
.pulldown button i::before{
  color: #888888;
}
.pulldown button:disabled{
  /* background: #BFBFBF; */
}
.pulldown button:disabled i{
  color: #888888;
}
.dropdown{
  margin-top: 0;
}
.dropdown :global(.u-dropdown-menu-item){
  cursor: pointer;
  font-size: 14px;
  position: relative;
  height: 32px;
  line-height: 32px;
}

.dropdown :global(.u-dropdown-menu-item:hover), 
.dropdown :global(.u-dropdown-menu-item-active), 
.dropdown :global(.u-dropdown-menu-item-selected){
  color: #E14C46;
}


.dropdown :global(.u-dropdown-menu-item .iconfont){
  position: absolute;
  right: 6px;
  top: 9px;
  font-size: 15px;
  color: #ffffff;
}
.dropdown :global(.u-dropdown-menu-item:hover .iconfont), 
.dropdown :global(.u-dropdown-menu-item-active .iconfont), 
.dropdown :global(.u-dropdown-menu-item-selected .iconfont){
  color: #888888;
}
.dropdown :global(.u-dropdown-menu-item .iconfont:hover){
  color: #111111;
}
.dropdown .close{
  margin-bottom: 5px;
}