.goal {
    position: absolute;
    width:362px;
    height:136px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 1px 0px rgba(74,81,93,0.1);
    /*border:1px solid rgba(208,208,208,0.19);*/
    border-radius: 3px ;
    overflow: hidden;
    font-family: 'tahoma','Hiragino Sans GB','arial','Heiti SC','Microsoft YaHei','sans-serif';
    padding: 0;
}
.my-content-goal {
    display: inline-block;
}
[class *="my-content-goal-"] {
    width: 50%;
    float: left;
}
.my-content-goal-left {
    padding-top: 14px;
}
.goal-title {
    font-size:16px;
    font-family:MicrosoftYaHei;
    color:rgba(17,17,17,1);
    line-height:1;
    margin-bottom: 28px;
    margin-left: 9px;
}
.goal-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 0 !important;
}
.goal-li {
    color:rgba(136,136,136,1);
    line-height:19px;
    font-size: 14px;
    margin-bottom: 6px;
}
.goal-label {
    width: 129px;
    display: inline-block;
    text-align: right;
    line-height:19px;
}
.goal-val {
    display: inline-block;
    text-align: left;
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(85,85,85,1);
    line-height:19px;
}
.goal-val-warning {
    color: rgba(225,76,70,1);
}
.my-content-goal-right {
    text-align: center;
    position: relative;
}
.svg {
    width: 16px;
    height: 19px;
    margin-left: 6px;
    /*margin-top: 8px;*/
    position: absolute;
    bottom: 6px;
    cursor: pointer;
    opacity: 0.4;
}
.sn-progress-circle {
    height: 89px;
    width: 89px;
    margin: 9px auto 9px;
}
.sn-progress-text {
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    /*transform: translateY(-70%);*/
    font-size:24px;
    font-family:MicrosoftYaHei;
    /*color:rgba(255,255,255,1);*/
    /*line-height:40px;*/
}
.sn-progress-info {
    font-size:12px;
    font-family:Helvetica;
    color:rgba(136,136,136,1);
    line-height:14px;
}
