.title {
  top: 50px;
  background: #fff;
  padding:20px;
  width:480px;
}
.title h4{
  font-weight: 500;
  font-size: 15px;
}
.title ul li{
  float: left;
  width:110px;
  padding:5px 6px;
}
.title ul li button{
  font-size: 12px;
}
