:global(#root){
  width: 100%;
  height: 100%;
  background-image: url('assets/image/homeBg.png');
  background-size: contain; 
  background-repeat: repeat-x;
  background-position: top center;
}
:global(.um-win){
  background-image: url('assets/image/homeBg.png');
  background-size: contain; 
  background-repeat: repeat-x;
  background-position: top center;
}

.pageHome{
  overflow: hidden;
}
.pageHome :global(.lebra-navbar-left-icon){
  background-image: linear-gradient(-180deg, #B4BFC5 3%, #DBE1E4 98%);
  background: #BEC1C8;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  color: #fff;
}
.logoImg{
  max-height: 27px;
}
.header{
  position: fixed!important;
  width: 100%;
  z-index: 100;
  background:url("assets/image/wgt/navBar_bg.png") no-repeat;
  background-position: right;
  background-color:rgba(255,255,255,0.92);
}
body{
  /* background: linear-gradient(to bottom, #A8ABB0 , #D8DADC); */
  /* background-image:url("assets/image/wgt/wiget_bg.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0% 100%, 100% 5%, 90% 100%;
  background-attachment:fixed; */
}
.imgInner{
  width:32px;
  height:32px;
  border-radius:50%;
}

.allBtn{
  /* border: 1px solid red; */
  width: 100px;
  height: 48px;
  line-height: 40px;
  position: absolute;
  right: 0px;
  top: 48px;
  text-align:center;
  color: #E14C46;
}

.btnDisable{
  display: none;
}

.logo_title{
  font-size:17px;
  color:rgba(71,77,84,1);
  width:204px;
}

.title_drop{
  font-size:17px;
  color:rgba(71,77,84,1);
  width:204px;
}

.header :global(.home_title){
  font-size:14px;
  color:rgba(71,77,84,1);
  background: transparent;
  width: auto;

}
.header :global(.home_title) > label{
  display: block;
  white-space: nowrap;
  width:180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header :global(.home_title_down){
  background: transparent;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
/* :global(._btn_down) li:last-child { 
  border-top: 1px solid #DEE0E3;
  height: 30px;
  line-height: 30px; 
} */
.mark{
  position: absolute;
  left: 50%;
  top: 92px;
  width:528px;
  height:49px;
  background:rgba(255,251,242,1);
  box-shadow:0px 10px 12px 0px rgba(74,81,93,0.25);
  border-radius:0px 0px 3px 3px;
  border:1px solid rgba(255,171,0,0.5);
  border-top: 3px solid rgba(255,171,0,1);
  margin-left: -264px;
  z-index: 99999;
}
.mark p{
  padding-top: 13px;
  line-height: 24px;
  font-size:16px;
  padding-left: 20px;
  padding-right: 10px;
  color:rgba(255,139,0,1);
  overflow: hidden;
}
.mark p i{
  float: left;
  font-size: 24px;
}
.mark p span{
  float: left;
  margin-left: 22px;
  font-weight: 600;
  margin-right: 10px;
}
.mark p b{
  float: left;
  font-size:16px;
  font-family:MicrosoftYaHei;
  color:rgba(0,122,206,1);
  font-weight: 500;
  cursor: pointer;
}
.mark p i:last-child{
  float: right;
  color: #757f8c;
  cursor: pointer;
}