.content{
  /*overflow: hidden;*/
  background:rgba(230,233,233,1);
  margin: 15px;
  margin-top: 0;
  position: relative;
  overflow: auto;
  height: 400px;
}
.home_file_item_dailog{
  display: -webkit-box !important;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.home_file_item_dailog :global(.u-modal-header){
    padding:8px 15px;
}
.home_file_item_dailog :global(.u-modal-body){
    padding:0;
}
.home_file_item_dailog :global(.u-modal-body){
    padding:0;
}
.home_file_item_dailog :global(.close){
  top: -31px;
}
.home_file_item_dailog  :global(.u-modal-dialog){
  margin-left: 40px;
  margin-right: 40px;
  width: 900px;
}
.home .u-modal{
  display: none !important;
}
