.contentArea {
  width: 100%;
  height: 100%;
  position: relative;
}
.content {
  width: 100%;
  height: 100%;
  display: none;
}
.content.active {
  display: block;
}
.content iframe {
  width: 100%;
  height: 100%;
  border: 0 none;
}
.load{
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom,#A8ABB0, #D8DADC); */
  background: #ffffff;
  left: 0;
  top: 0;
  z-index: 2;
}
.load img{
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}