body {
  margin: 0;
  padding: 0;
  font-family:MicrosoftYaHei-Bold;
  background-color:rgba(230,233,233,1);
  font-size:15px;
}
#root{

  -moz-user-select:none;/*火狐*/

  -webkit-user-select:none;/*webkit浏览器*/

  -ms-user-select:none;/*IE10*/

  -khtml-user-select:none;/*早期浏览器*/

  user-select:none;
}
.wrap {
  padding: 20px; 
}
.u-menu-inline>.u-menu-item{
	font-size:12px;
	color:#4A515D;
}
.u-menu-inline>.u-menu-submenu>.u-menu-submenu-title{
  font-size:14px;
  color:#4A515D;
}
.u-menu-inline .u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected{
  border:none;
	color:#E14C46;
}
.u-menu-submenu-open.u-menu-submenu-inline>.u-menu-submenu-title,:root .u-menu-submenu-inline>.u-menu-submenu-title:after{
  font-size:14px;
  color:#878B94;
}
.u-menu-submenu-inline>.u-menu-submenu-title:after{
  font-size: 14px;
  transform: scale(.66667) rotate(-90deg);
}
/** loading **/
.u-loading-backdrop{
  z-index: 0;
}

.pop_dialog_delete{
  width: 416px;
  height: 201px;
  margin: 0 auto;
  top: 60px;
}
.src-workbench-pc-pages-work-style__wrap--GLwgN .lebra-navbar-left-content img{
  display: none;
}.u-modal-open .u-modal{
  overflow-y: hidden;
}