body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  background-color: rgba(230, 233, 233, 1);
  font-size: 15px;
  position: relative;
}

.iconfont {
  font-weight: bold;
}

.wrap {
  padding: 20px;
}

.u-menu-inline>.u-menu-item {
  font-size: 12px;
  color: #4A515D;
  cursor: pointer;
}

.u-menu-inline>.u-menu-submenu>.u-menu-submenu-title {
  /* font-size: 14px; */
  color: #4A515D;
  cursor: pointer;
}

.u-menu-inline .u-menu-inline .u-menu-item-selected,
.u-menu-inline .u-menu-selected {
  border: none;
  color: #E14C46;
  background: #f4f5f7;
}

.u-menu-submenu-inline>.u-menu-submenu-title:after {
  font-size: 16px;
  transform: scale(.66667) rotate(-90deg);
}

.u-menu-inline .u-menu-submenu-active>.u-menu-submenu-title:after {
  color: #E14C46;
}

.u-menu-inline .u-menu-submenu-active>.u-menu-submenu-title {
  font-weight: normal;
  background: transparent;
  cursor: default;
}


/** loading **/

.u-loading-backdrop {
  z-index: 0;
}

/* .src-workbench-pc-pages-work-style__wrap--GLwgN .lebra-navbar-left-content img {
  display: none;
} */

.u-modal-open .u-modal {
  overflow-y: hidden;
}

.lebra-navbar-left {
  display: flex;
}

.lebra-navbar-left-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  -webkit-box-flex: 1;
}

/* .lebra-navbar-left-content {
  -webkit-box-flex: 1;
  border-radius: 100px;
  margin-left: 8px;

} */
/* .home .lebra-navbar-left-content {
  border: 1px solid #E6E7E9;
} */

.lebra-navbar-left-icon .iconfont {
  font-size: 20px;
}
.u-form-control{
  font-size: 14px !important;
}
.u-select-arrow:before {
  color: #878B94;
}

.u-select-open .u-select-arrow:before {
  transform: rotate(-180deg);
  color: #E14C46;
}

.u-input-group .u-form-control:last-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}


/***----------统一组价样式----------**/

.horizontalParent {
  display: -webkit-box;
}

.horizontal {
  -webkit-box-flex: 1;
}


/***----------统一组价样式 弹框----------**/

.pop_dialog_delete {
  width: 370px;
  height: 200px;
  margin: 0 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  border-radius: 3px;
}

.pop_dialog_delete .u-modal-dialog {
  width: auto;
}

.pop_cont {}

.pop_cont .icon {
  color: #FFAB00;
  font-size: 20px;
  padding-right: 5px;
}

.pop_cont span {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #474D54;
  line-height: 24px;
}

.input {
  width: 110px;
  height: 22px;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border: 1px solid rgba(78, 89, 104, 0.19);
}

.input:hover {
  border: 2px solid #00CDC3;
}

.u-button {
  min-width: 5px;
  padding: 0;
}

.u-tabs-tab {}

.u-checkbox span {
  padding-top: 4px;
  color: #888;
}

.u-select-dropdown .u-select-dropdown-menu-item {
  border-top: 1px solid rgba(78, 89, 104, 0.19);
  font-size: 14px;
  white-space:normal !important;
}

.u-select-dropdown {
  /* padding-top: 16px; */
}

.input_phone .u-input-group{
  display: inline-table !important;
}
/*全屏弹窗*/


/* .u-modal .u-modal-dialog{
  margin:0;
}
.u-modal .u-modal-header{
  padding:0;
  border:none;
} */

/* .lebra-navbar-left-icon img {
  margin-top: -12px !important;
} */

/* tagsInput */
.react-tagsinput {
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  padding:8px 0 0 8px;
  margin-bottom: 8px;
}

.react-tagsinput--focused {
  border-color: rgb(102,175,233);
}

.react-tagsinput-tag {
  background-color: #DFE3E8;
  border-radius: 3px;
  /* border: 1px solid #DFE3E8; */
  color: #474D54;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-right: 8px;
  padding: 5px 7px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

/* .react-tagsinput-tag a::before {
  content: " ×";
} */

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
}
*{
  /* box-sizing: border-box; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  box-sizing: border-box;
}

.u-radio .u-radio-label:before{
  box-sizing: inherit;
}

.u-form-control{
  padding-left: 8px !important;
}


/***----------统一组价样式 Message 蓝湖交互----start------**/
/* success 成功样式 */
.u-message{
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.u-message-notice-close{
  display: none;
}
.u-message  .u-message-notice{
  background:rgba(255,255,255,1);
  box-shadow: 0px 10px 12px 0px rgba(74,81,93,0.25);
  border-radius: 4px ;
}
.u-message-notice{
  background:rgba(255,255,255,1);
  box-shadow: 0px 10px 12px 0px rgba(74,81,93,0.25);
  border-radius: 4px ;
}
.u-message-notice-success .u-message-notice-description-icon .uf{
  font-size: 18px;
  padding:0;
  font-family: 'icomoon' !important;
  font-weight: bold;
  color:#00B39E;
}
.u-message-notice-success .u-message-notice-description-icon .uf-correct:before{
  content: "\e9eb";
  font-family: 'icomoon' !important;
}
.u-message-notice-success .u-message-notice-description-icon{
  background: transparent !important;
}
.u-message-notice-success .u-message-notice-description-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#00B39E;
}
.u-message-notice-success .u-message-notice-description-content{
  color:#474D54;
  padding: 5px;
}
/* warning 失败样式 */
.u-message-notice-warning .u-message-notice-description-icon .uf{
  font-size: 18px;
  padding:0;
  font-family: 'icomoon' !important;
  font-weight: bold;
  color:#4C4C4C;
}
.u-message-notice-warning .u-message-notice-description-icon .uf-exc-t:before{
  content: "\E999";
  /* notice */
  font-family: 'icomoon' !important;
}
.u-message-notice-warning .u-message-notice-description-icon{
  background: transparent !important;
}
.u-message-notice-warning .u-message-notice-description-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#00B39E;
}
.u-message-notice-warning .u-message-notice-description-content{
  color:#474D54;
  padding: 5px;
}
/***----------统一组价样式 Message 蓝湖交互-----over-----**/

/***------------ie9下的input的叉号去掉-----------------**/
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
