/* ie9下首页Header */
:global(.ie9) .lebra-navbar{
  display: table;
}
:global(.ie9) .lebra-navbar>div{
  display: table-cell;
  vertical-align: middle;
}
:global(.ie9) .lebra-navbar .lebra-navbar-left{
  width: 300px;
}
:global(.ie9) .lebra-navbar .lebra-navbar-right{
  width: 250px;
}
:global(.ie9) .lebra-navbar .lebra-navbar-left>span:first-child{
  float: left;
}
:global(.ie9) .lebra-navbar .lebra-navbar-right>div{
  display: inline-block;
}
:global(.ie9) .lebra-navbar .lebra-navbar-left-icon{
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
:global(.ie9) .lebra-navbar .lebra-navbar-title{
  text-align: center;
}
:global(.ie9) .lebra-navbar .lebra-navbar-right{
  text-align: right;
}
:global(.ie9) .lebra-navbar-left-content{
  padding-left:0px;
}