.enter_option{

}
.enter_option button{

}

.enter_option button i{
  position: relative;
  color: #ffffff;
  transition: all 0.3s;
}

.item_li{
  cursor: pointer;
}

.up{
  transform: rotate(-180deg);
  transition: all 0.3s;
}