.create{
  color: #E14C46;
  font-weight: bold;
  vertical-align: middle;
}

.create :global(.iconfont){
  position: relative;
  top: 4px;
  color: #E14C46;
  margin-right: 8px;
}


/* menus 样式 */
.menus {
  display: flex;
  height: 40px;
  overflow: hidden;
}
.history{
  float: left;
  padding-top: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.home{
  float: left;
  padding-top: 10px;
  width: 70px;
  height: 40px;
  cursor: pointer;
}
.menus .active{
  /* background: #E14C46; */
  background: rgb(227,227,227);
}
.upward{
  cursor: pointer;
  float: right;
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

/* tab */
.tab{
  float: left;
  flex: 1;
}
.tab ul{
  overflow: hidden;
  height: 40px;
}
.tab ul li{
  float: left;
  width: 120px;
  height: 40px;
  padding-right: 30px;
  /* background: #888888; */
  cursor: pointer;
  position: relative;
}
.tab ul li p{
  padding-left: 8px;
  text-align: left;
  line-height: 40px;
}


/*start:menubar*/
.sideBar{
  width: 700px; 
  text-align: left;
  height: 500px;
  margin-top: 18px;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,.14);
  z-index: 999;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.sideBar :global(.u-menu.u-menu-inline){
  height: 100%;
  overflow-y: auto;
  background: #fff;
  border-top: none;
  border-radius: 0;
}
.sideBar :global(.u-menu-submenu-selected){
	background: #ffffff;
}
.sideBar :global(.u-menu-submenu-selected .u-menu-item-selected) {
	background: #e4e4e4;
}
:global(.u-menu-item-active){
	background:#f3f3f3;
}
.sideBar :global(.um-icon-md){
	line-height: 20px;
	text-align: center;
	margin-left: -1px;
}
.sideBar :global(.u-menu-submenu-open.u-menu-submenu-inline > .u-menu-submenu-title i){
	display: inline-block;
	height: auto;
  position: relative;
  -webkit-transform: rotate(90deg) scale(1.0);
	transform: rotate(90deg) scale(1.0);
}
:global(:root .u-menu-submenu-inline > .u-menu-submenu-title:after){
	display: none;
}
.sideBar :global(.u-menu-inline .u-menu-item-selected),
.sideBar :gloabl(.u-menu-inline .u-menu-selected),
.sideBar :global(.u-menu-submenu-active.u-menu-submenu-inline>.u-menu-submenu-title:after){
	background: #e4e4e4!important;
	color: #E14C46;
}
.sideBar :global(.u-menu-inline .u-menu-item-selected){
	background: #e4e4e4!important;
}
.sideBar :global(.u-menu-inline .u-menu-item-selected span){
	color: #E14C46;
}
.sideBar :global(.u-menu-submenu>.u-menu){
  background: transparent;
}
.sideBar :global(.item_1){
	position: relative;
	margin-left: -14px;
}
.sideBar :global(.item_2){
	position: relative;
	margin-left: -14px;
}
.sideBar :global(.item_3){
	position: relative;
	margin-left: -14px;
}
:global(.item_1){
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
	color: #111111;
}

:global(.item_2){
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
}
:global(.item_2 i){
	margin-right: 4px;
	width: 20px;
	height: 20px;
	line-height:20px;
	text-align:center;
}
:global(.item_3){
	font-size: 14px;
}
:global(.item_4){
	font-size: 14px;
}
.last_item{
	margin-left: 10px !important;
}
.last_item:global(.item_3){
	margin-left: 0 !important;
}
.u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected{
	color:#E14C46;
}
.u-menu-submenu-active.u-menu-submenu-inline>.u-menu-submenu-title:after{
	color:#E14C46;
}

.u-menu-inline .u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected {
	border:none;
}


/* 第三四级 */
.sideBarList{
  width: 500px;
  overflow: auto;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2001;
  font-size: 14px;
  line-height: 28px;
}
.sideBarListItem {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  margin: 10px 0;
}
.sideBarListItem:after{
  display: block;
  content: '';
  clear: both;
}
.sideBarListItem :global(.sideBarListItemName) {
  float: left;
  width: 22%;
  font-weight: bold;
}
.sideBarListItem :global(ul.bottomBarPanel) {
  float: left;
  width: 78%;
}
.sideBarListItem :global(ul.bottomBarPanel li){
  display: inline-block;
  min-width: 120px;
  position: relative;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 10px;
}
.sideBarListItem :global(ul.bottomBarPanel li:nth-child(n+2)) {
  border-left: 1px solid #dcdcdc;
}
.sideBarList :global(.bottomBar:hover){
  cursor: pointer;
  color:#E14C46;
}
.sideBarList>:global(.pureBottom.bottomBar){
    display: inline-block;
    min-width: 120px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
}
.sideBarList>:global(.pureBottom.bottomBar:nth-child(n+2)){
  border-left:1px solid #dcdcdc;
}
:global(.header .lebra-navbar-left){
  z-index: 999;
}
/*end:menubar*/
.tab li div{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  top: 10px;
}
