.menus {
  display: flex;
  height: 40px;
}
.tabStyle{
  overflow: hidden;
}
.tabStyle li{
  float: left;
  padding: 10px 20px;
  line-height: 20px;
  background: #888888;
  margin-right: 2px;
  cursor: pointer;
}




.pageHome :global(.lebra-navbar-left-icon){
  background:rgba(202,205,212,1);
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  color: #fff;
}

.logoImg{
  max-height: 27px;
}

.imgInner{
  width:32px;
  height:32px;
  border-radius:50%;
}

.allBtn{
  width: 100px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  right: 0px;
  top: 48px;
  text-align:center;
  color: #E14C46;
  cursor: pointer;
}

.allBtn i{
  position: relative;
  top: 3px;
  color: #E14C46 !important;
}

.btnDisable{
  display: none;
}

.create{
  color: #E14C46;
  font-weight: bold;
  vertical-align: middle;
}

.create :global(.iconfont){
  position: relative;
  top: 4px;
  color: #E14C46;
  margin-right: 8px;
}

.logo_title{
  font-size:17px;
  width:204px;
}

.title_drop{
  font-size:17px;
  width:204px;
}

.header :global(.home_title){
  font-size:14px;
  background: transparent;
  width: auto;

}
.header :global(.home_title) > label{
  display: block;
  white-space: nowrap;
  width:180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header :global(.home_title_down){
  background: transparent;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}


