.create{
  color: #E14C46;
  font-weight: bold;
  vertical-align: middle;
}

.create :global(.iconfont){
  position: relative;
  top: 4px;
  color: #E14C46;
  margin-right: 8px;
}


/* menus 样式 */
.menus {
  /* display: flex; */
  height: 40px;
  overflow: hidden;
}
.history{
  float: left;
  padding-top: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.home{
  float: left;
  padding-top: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.menus .active{
  background: #E14C46;
}
.upward{
  float: right;
}

/* tab */
.tab{
  float: left;
}
.tab ul{
  overflow: hidden;
}
.tab ul li{
  float: left;
  padding: 10px 30px 10px 10px;
  line-height: 20px;
  background: #888888;
  margin-right: 2px;
  cursor: pointer;
  position: relative;
}
.tab li div{
  position: absolute;
  right: 4px;
  top: 10px;
}