.enterForm{
  padding-bottom: 30px;
}

.enterForm :global(.u-label) {
  width: 40%;
  text-align: right;
  font-size: 14px;
}

.enterForm :global(.u-label>span) {
  vertical-align: middle;
}

.enterForm :global(.u-label>span>font) {
  vertical-align: middle;
}

.enterForm :global(.province),
.enterForm :global(.city),
.enterForm :global(.area) {
  width: 106px!important;
}

.enterForm  :global(.u-form-item .u-select){
  min-width: 106px !important;
}

.enterForm :global(.uf.uf-calendar) {
  position: relative;
  top: -4px;
  right: 9px;
}

.enterForm :global(.u-radio){
  margin-right: 18px;
}

.enterForm :global(.u-form-submit) {
  padding-left: 40%;
}

.enterForm :global(.u-form-submit > button) {
  width:338px;
  height:32px;
  background:rgba(225,76,70,1);
  border-radius: 3px;
  margin: 0;
}

.enterForm :global(textarea) {
  min-height: 100px;
  min-width: 300px;
}

.enterForm :global(.u-form-item){
  width: 100%;
}

.enterForm :global(.u-input-inner>input){
  width:338px !important;
  background:rgba(255,255,255,1);
  border-radius: 3px ;
}

.enterForm :global(.u-city-select){
  display: inline-flex;
}

.enterForm :global(.u-select-lg .u-select-selection--single){
  width: 271px;
}

.enterForm :global(.ie9_form_cont){
  position: absolute !important;
}

.enterForm :global(.ie9_cont){
  position: relative !important;
}

.line{
  width: 80%;
  height: 1px;
  background: rgba(13,20,36,1);
  opacity: 0.4;
  margin: 15px auto 30px;
}

.infoTitle{
  margin-left: 40%;
  margin-bottom: 20px;
  font-size: 17px;
}

.progressBar {
  position: relative;
  margin-left: 40%;
  width: 338px;
  padding-bottom: 30px;
  cursor: not-allowed;
}

.progressBar :global(.iconfont){
  color: #fff;
}
