:global(.basic_dialog_modal .u-modal.in .u-modal-dialog) {
  min-width: 0px;
}

:global(.basic_dialog_modal .u-modal-dialog) {
  width: 370px !important;
  height: 200px !important;
}

:global(.basic_dialog_modal .u-modal-content) {
  width: 370px;
  /* height: 200px */
}

:global(.basic_dialog_modal .u-button) {
  width: 88px;
  height: 30px;
}

.titleStyle {
  font-size: 20px;
  font-family: MicrosoftYaHei;
  color: rgba(17, 17, 17, 1)
}

:global(.basic_dialog_modal .u-modal-body) {
  margin-top: 0px;
  /* height: 60px; */
}

:global(.basic_dialog_modal .u-modal-footer) {
  margin-top: 0px;
}

:global(.basic_dialog_modal .closeBtn) {
  right: 5px;
}

:global(.basic_dialog_modal .content_div) {
  margin-top: 0px;
}

:global(.basic_dialog_modal .content_p) {
  font-size: 14px;
  font-family: MicrosoftYaHei;
  color: rgba(85, 85, 85, 1);
  line-height: 26px;
}



