.dropdown_button_cont{
    display: -webkit-box;
}
.label_cont{
    display: inline-block;
    width:76px;
    height:32px; 
    line-height: 32px;
    font-size:12px;
    color:rgba(74,81,93,1);

    /* border: 1px solid #ccc; */
    /* border-top-left-radius: 4px; */
    /* border-bottom-left-radius: 4px; */
    margin-right: 2px;
    vertical-align: top;
    background: rgba(9,44,66,0.04);
}
.label_cont>label{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.btn_upward,.btn_pull_down{
    display: inline-block;
    width:31px;
    margin: 0 auto;
    height:32px; 
    line-height: 32px;
    /* border: 1px solid #ccc; */
    /* border-top-right-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
    text-align: center;
    background:rgba(9,44,66,0.04);
}
.btn_upward{
    background:rgba(252,237,236,1);
}
.btn_upward .icon_style{
    color:rgba(225,76,70,1);
}
.icon_style{
    color: rgba(105,111,122,1);
    cursor: pointer;
    font-weight: bold;
}
.btn_pull_down:hover{
    background:rgba(9,30,66,0.08);
}
.btn_pull_down:active{
    background:rgba(252,237,236,1);
}
.btn_pull_down:active .icon_style{
    color:rgba(225,76,70,1);
}
.btn_upward>div,.btn_pull_down>div{
    display: inline-block;
    width: 31px;
    cursor: pointer;
}
.menu_style li{
    border-top: 1px solid rgba(221,224,227,0.47);
    color: rgba(74,81,93,1);
    padding-left: 11px !important;
}
.menu_style li:hover{
    color: rgba(225,76,70,1);
}
.menu_style li:first-child{
    /* border: none; */
}
.menu_style{
    box-shadow: 0 3px 6px 0px rgba(74,81,93,0.25);
    border: rgba(78,89,104,0.19);
}

/* 
:global(.u-dropdown){
    margin-left: -88px;
} */