.dropdown_button_cont{
    display: table;
    border: 1px solid #E6E7E9;
    border-radius: 100px;
    padding-left: 13px;
    margin-left: -5px; 
}

.label_cont{
    margin-left: -8px;
    display: table-cell;
}
.btn_upward,.btn_pull_down{
    text-align: center;
}
.btn_upward{
    background:rgba(252,237,236,1);
}
.btn_upward .icon_style{
    color:rgba(225,76,70,1);

}
.icon_style{
    color: rgba(105,111,122,1);
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}
.btn_pull_down:hover{
    background:rgba(9,30,66,0.08);
}
.btn_pull_down:active{
    background:rgba(252,237,236,1);
}
.btn_pull_down:active .icon_style{
    color:rgba(225,76,70,1);
}
.btn_upward>div,.btn_pull_down>div{
    /* display: inline-block; */
    width: 31px;
    cursor: pointer;
    vertical-align: middle;
}
.menu_style li{
    /* border-top: 1px solid rgba(221,224,227,0.47); */
    color: rgba(74,81,93,1);
    /* padding-left: 11px !important; */
}

.menu_style{
    box-shadow: 0 3px 6px 0px rgba(74,81,93,0.25);
    border: rgba(78,89,104,0.19);
    /* max-height: 400px; */
    width: 219px;
}
.drop_MenuItem{
    background: red;
}

/*
:global(.u-dropdown){
    margin-left: -88px;
} */

dropdown_button_cont :globle(.u-dropdown-menu>.u-dropdown-menu-item){
    position: relative;
}
dropdown_button_cont :globle(.u-dropdown-menu>.u-dropdown-menu-item):hover{
    background:#fff !important;
}
._Menu_Item{
    position: absolute;
    right: 8px;
    bottom: 0px;
    color: rgba(74,81,93,0.8);
}
.create_ent{
    cursor: pointer;
    padding-left: 9px;
    border-top: 1px solid #cccccc;
}
.menu_item{
    height: auto !important;
    padding: 0px !important;
    padding-left: 2px;
    background:#fff !important;
}
/* .menu_style :globle(.u-dropdown-menu > .u-dropdown-menu-item):hover{
    background:#fff !important;
}
.menu_style :globle(.u-dropdown-menu > .u-dropdown-menu-item){
    background:#fff !important;
} */
/* .u-input-group .u-form-control */

.item_li{
    height: 30px;
    width: 100%;
    cursor: pointer;
    line-height: 30px;
    /* display: inline; */
    white-space: nowrap;
}
.item_li:hover{
    background: RGBA(9, 30, 66, 0.04);
}
.item_ul{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    padding-left: 5px;
}
.li_title{
    width: 76%;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
    font-weight: normal;
    white-space: nowrap;
    float: left;
}
.li_right{
    /* width: 50px; */
    text-align: center;
    color: RGBA(74, 81, 93, 0.5);
    float: right;
    padding-right: 10px;
}



:global(.home_title){
    font-size:14px;
    color:rgba(71,77,84,1);
    background: transparent;
    width: auto;
  
  }
:global(.home_title) > label{
    display: block;
    white-space: nowrap;
    width:180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
:global(.home_title_down){
    background: transparent;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }