.breadcrumbClass {
  background: #fff;
  font-size:12px;
}
.breadcrumbClass :global(.iconfont) {
  margin:-2px 15px;
  vertical-align: middle;
  line-height:27px;
  color:#878B94;
  cursor: pointer;
  font-size:18px;
  font-weight:bold;
}
.breadcrumbClass :global(.iconfont):hover{
	color:#E14C46;
}
.menu_expended{
  margin-left: 200px !important;
}
.breadcrumbClass section{
  display:none;
  width:200px;
  height:37px;
  padding:9px 17px;
  border-radius: 0 2px 0 0;
  margin-right:15px;
  background:#9FA4AE;
  color:#fff;
  font-size:14px;
  position: relative;
}
.breadcrumbClass section :global(.iconfont){
  font-size:24px;
  color:#fff;
  position:absolute;
  right:0;
}
.breadcrumbClass .breadcrumb_menu{
  display: inline-block;
}
.breadcrumbClass .breadcrumb_tab{
  display:none;
}