.serviceContainer {
  position: fixed;
  z-index: 999;
  top: 50px;
  right: 33px;
  width:300px;
  height:310px;
  border:1px solid #DBDEE5;
  border-radius:2px;
  box-shadow: 0px 3px 6px 0px rgba(74,81,93,0.25);
}
.service {
  position: absolute;
  z-index: 9;
  background: #fff;
  width:300px;
  height:271px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*定义滚动条宽高*/
.service::-webkit-scrollbar{
    width: 8px;
}
/*定义滑块，内阴影及圆角*/
.service::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #757575;
}
.serviceBtn{
  position: absolute;
  z-index: 9;
  top: 271px;
  background: #F5F5F5;
  width:300px;
  height:39px;
}
.service h4{
  font-weight: 500;
  font-size: 14px;
  padding-left: 9px;
  padding-top: 14px;
  line-height: 19px;
}
.service ul{
  padding:0px;
  width:300px;
}
.service .contentDiv{
  float: left;
  width: 48px;
  height:69px;
  text-align: center;
  margin: 5px 13.5px 5px 13.5px;
}
.contentDiv:hover{
  color:#E14C46;
  cursor:pointer;
}
.service .content{
  width: 48px;
  height:16px;
  font-size: 12px;
  padding: 0;
  text-align: center;
}
.service ul li{
  float: left;
  width:48px;
  height:48px;
  margin-bottom: 5px;
  line-height: 48px;
  text-align: center;
  background: #EEEEEE;
  font-size:12px;
  border: 1px solid #fff;
  cursor: pointer;
}
.service ul li img {
  float: left;
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;
  height: 80%;
}
.service ul li:hover{
  background: #D8D8D8;
  // border:1px solid #979797;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.serviceBtn button{
  border: none;
  border-radius: 0;
  font-size: 12px;
  height: 39px;
  color: #666666;
  background:none;
}
.serviceBtn button:hover{
  background:#e8e8e8;
}
:global(.quickServiceHidden){
  display:none;
}
.serviceGroup{
  position: relative;
}

.serviceContainer:before {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #d2d2d2;
  position: absolute;
  margin-top: -21px;
  margin-left: 243px;
}
.serviceContainer:after {
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  position: absolute;
  margin-top: -20px;
  margin-left: 243px;
}
