.create{
  color: #E14C46;
  font-weight: bold;
  vertical-align: middle;
}

.create :global(.iconfont){
  position: relative;
  top: 4px;
  color: #E14C46;
  margin-right: 8px;
}


/* menus 样式 */
.menus {
  display: flex;
  height: 40px;
  background: rgb(243,243,243);
  padding-top: 3px;
  border-bottom: 1px solid rgba(78,89,104,0.19);
}
.menu{
  width: 48px;
  position: relative;
}
.history{
  float: left;
  width: 50px;
  height: 36px;
  cursor: pointer;
}
.home{
  float: left;
  padding-top: 8px;
  width: 68px;
  height: 36px;
  cursor: pointer;
}
.home:hover{
  background: rgb(231,231,231);
}
.menus .active{
  background: #fff;
}

/* tab */
.tab{
  float: left;
  flex: 1;
}
.tab ul{
  overflow: hidden;
  float: left;
}
.tab ul li{
  float: left;
  width: 120px;
  padding-right: 20px;
  cursor: pointer;
  position: relative;
}
.tab ul li:hover{
  background: rgb(231,231,231);
}
.tab ul li:after{
  /* content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 1px;
  height: 13px;
  background: #CCCCCC; */
}

.tab ul li p{
  padding-left: 8px;
  text-align: left;
  line-height: 36px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.tab li div{
  position: absolute;
  width: 14px;
  height: 14px;
  right: 4px;
  top: 12px;
  border-radius: 50% 50%;
}
.tab li.active div{
  background: #D8D8D8;
}
.tab li div i{
  font-size: 14px;
}

.pulldown{
  position: relative;
  top: -3px;
  float: left;
  width: 36px;
  height: 39px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-left:1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
.pulldown button{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  min-width: auto;
  background: none;
}
.pulldown button i{
  color: #111111;
}
.pulldown button:disabled{
  /* background: #BFBFBF; */
}
.pulldown button:disabled i{
  color: #888888;
}

.im{
  padding-top: 5px;
  /* margin-right: 0; */
}

.upward{
  position: relative;
  top: -3px;
  cursor: pointer;
  float: right;
  width: 56px;
  padding-top: 10px;
}
.upward::before{
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 2px;
  height: 15px;
  background: #CCCCCC;
}

/*start:menubar*/
.menuBarPart{
  position: fixed;
  z-index: 1;
  left: 0;
  top:36px;
}
.sideBarPanel {
  width: 900px;
  box-sizing: content-box;
  background: #fff;
  padding: 0;
  box-shadow: 0px 3px 6px 0px rgba(74,81,93,0.25);
  border: 1px solid rgba(78,89,104,0.19);

}
.sideBarTitle {
  display: inline-block;
  width: 100%;
  background: #fff;
  text-align: left;
  font-size: 16px;
  color: #111;
  border-bottom: 1px solid #dcdcdc;
  padding: 10px 28px;
  box-sizing: border-box;
}
.sideBar{
  width: 100%; 
  text-align: left;
  height: 500px;
  margin-top: 18px;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,.14);
  z-index: 999;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0;
}
.sideBar :global(.u-menu.u-menu-inline){
  height: 100%;
  width: 200px;
  padding: 0;
  overflow-y: auto;
  background: #fff;
  border-radius: 0;
  border:none;
  border-right: 1px solid #dcdcdc;
}
.sideBar :global(.u-menu-submenu-inline > .u-menu-submenu-title){
  border-bottom: 1px solid #e8e8e8;
}
.sideBar :global(.u-menu-submenu>.u-menu ) {
  background: #F8F8F8;
}
.sideBar :global(.u-menu-submenu-selected){
	background: #ffffff;
}
.sideBar :global(.u-menu-submenu-selected .u-menu-item-selected) {
	background: #e4e4e4;
}
:global(.u-menu-item-active){
	background:#f3f3f3;
}
.sideBar :global(.um-icon-md){
	line-height: 20px;
	text-align: center;
	margin-left: -1px;
}

.sideBar :global(.u-menu-submenu-open.u-menu-submenu-inline > .u-menu-submenu-title i){
	display: inline-block;
	height: auto;
  position: relative;
  -webkit-transform: rotate(90deg) scale(1.0);
	transform: rotate(90deg) scale(1.0);
}
:global(:root .u-menu-submenu-inline > .u-menu-submenu-title:after){
	display: none;
}
.sideBar :global(.u-menu-inline .u-menu-item-selected),
.sideBar :gloabl(.u-menu-inline .u-menu-selected),
.sideBar :global(.u-menu-submenu-active.u-menu-submenu-inline>.u-menu-submenu-title:after){
	background: #e4e4e4!important;
	color: #E14C46;
}
.sideBar :global(.u-menu-inline .u-menu-item-selected){
	background: #e4e4e4!important;
}
.sideBar :global(.u-menu-inline .u-menu-item-selected span),
.sideBar :global(.u-menu-inline .u-menu-item-selected .iconfont){
	color: #E14C46;
}
.sideBar :global(.item_1){
  position: relative;
  font-size: 14px;
  color: #111111;
  line-height: 40px;
}
.sideBar :global(.item_1 .iconfont){
  display: inline-block;
  vertical-align: middle
}
.sideBar :global(.item_2){
	position: relative;
}
.sideBar :global(.item_2 .itemIcon){
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.sideBar :global(.item_3){
	position: relative;
}


:global(.item_2){
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 14px;
}
:global(.item_2 i){
	margin-right: 4px;
	width: 20px;
	height: 20px;
	line-height:20px;
	text-align:center;
}
:global(.item_3){
	font-size: 14px;
}
:global(.item_4){
	font-size: 14px;
}
.last_item{
	margin-left: 10px !important;
}
.last_item:global(.item_3){
	margin-left: 0 !important;
}
.u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected{
	color:#E14C46;
}
.u-menu-submenu-active.u-menu-submenu-inline>.u-menu-submenu-title:after{
	color:#E14C46;
}

.u-menu-inline .u-menu-inline .u-menu-item-selected, .u-menu-inline .u-menu-selected {
	border:none;
}


/* 第三四级 */
.sideBarList{
  width: 700px;
  overflow: auto;
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 2001;
  font-size: 14px;
  line-height: 28px;
}
.sideBarListItem {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.sideBarListItem:after{
  display: block;
  content: '';
  clear: both;
}
.sideBarListItem :global(.sideBarListItemName) {
  float: left;
  width: 100%;
  position: relative;
  color: #555;
  font-size: 12px;
  padding-left: 10px;
  line-height: 12px;
  padding: 16px 6px;
}
.sideBarListItem :global(.sideBarListItemName:before){
  display: block;
  content: '';
  position: absolute;
  height: 12px;
  width: 2px;
  background: #E14C46;
  top: 0;
  left: 0;
  margin-top: 16px;
}
.sideBarListItem :global(ul.bottomBarPanel) {
  float: left;
  width: 100%;
}
.sideBarListItem :global(ul.bottomBarPanel.mixHasNoThree){
  float: left;
  width: 100%;
}
.sideBarListItem :global(ul.bottomBarPanel.mixHasNoThree li){
  padding-top: 10px;
}
.sideBarListItem :global(ul.bottomBarPanel li){
  color: #111;
  display: inline-block;
  min-width: 25%;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  padding-bottom: 10px;
  padding-left: 6px;
}
/* .sideBarListItem :global(ul.bottomBarPanel li:nth-child(n+2)) {
  border-left: 1px solid #dcdcdc;
} */
.sideBarList :global(.bottomBar:hover){
  cursor: pointer;
  color:#E14C46;
}
.sideBarList>:global(.pureBottom.bottomBar){
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    text-align: left;
    font-size:14px;
    color:#111111;
    border-bottom: 1px solid #dcdcdc;
    padding: 16px 0;
    cursor: pointer;
}
.sideBarList>:global(.pureBottom.bottomBar:hover){
  color:#E14C46;
}
:global(.header .lebra-navbar-left){
  z-index: 999;
}
/*end:menubar*/