.add_item{
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 15px;
    background:rgba(255,171,0,0.05);
}
.add_item span{
    color: #FF8B00;
    font-size: 14px;
    
}
.sider_container{
  
    width: 320px;
  
}
.sider_container :global(.sider-container-fixed){
    width: 320px;
    position:fixed;
    overflow: hidden;
    background:rgba(255,255,255,1);
}
.sider_container :global(.serviceArea){
    overflow-y: scroll;
    background:rgba(243,243,243,1);
}
.toggleBar{
    cursor: pointer;
}
.selectService{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 90%;
}
.menuListStyle{
    position: absolute;
    width: 140px;
    background: #d0cbcb;
}
.card{
    border:1px dashed #fff3dc;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.cardLevelFour{
   display: inline-block
}
.cardLevelThree{
    display: block;
    border-bottom: 1px dashed #fff3dc;
    margin-bottom: 10px;
}


.app_col {
    width: 140px;
    height:32px;
    background:rgba(255,255,255,1);
    border-radius:3px;
    /* border:1px solid rgba(0,179,158,1); */
}
.list_item {
    padding-left: 5px;
    margin-bottom: 4px;
}
.list_item_content:hover{
    border: 1px dashed #C2C2C2;
}
.unSelect {
    color: #ccc
}
.list_item_content {
    padding: 3px 10px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.isAddColor {
    color: #007ACE;
    cursor:not-allowed
}
.iconlocation {
    position: absolute;
    top: -5px;
    right: -2px;
    font-size: 16px;
}
.unSelect {
    color: #fff;
}
.triangle_bottom_right {
    border-bottom-right-radius: 3px;
    border-color: transparent red red
        transparent;
    border-style: solid;
    border-width: 4px 6px 6px 9px;
    bottom: 0;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}
/* //IE10 */
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}
.title_name {
    display: block;
    max-width: 100%;
    flex-shrink: 1;
    font-size: 13px;
    line-height: 14px;
}
.selectServiceArea{
    display: flex;
    justify-content:space-between;
    height: 42px;
    background:rgba(255,255,255,1);
    padding: 0 15px;
    align-items: center;
}
.selectServiceArea :global(input){
    height:32px;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:20px;
    padding: 0 10px
}
.sider_container :global(.serviceArea){
    padding: 20px 6px  20px 15px;
    margin-right: -11px;
}
.sider_container :global(.serviceArea .serviceTitle){
    margin: 10px 0
}
.sider_container :global(.serviceArea .result_app_list_4){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sider_container :global(.serviceArea .result_app_list_3){
    width: 100%;
   
}
 :global(.serviceArea>.result_app_list){
     border-bottom:1px solid #333
 }

 .sider_container :global(.sider-container-fixed .u-menu-vertical > .u-menu-submenu > .u-menu-submenu-title){
     height: 28px;
     line-height: 28px
 }
 .sider_container :global(.sider-container-fixed .u-menu){
     background: rgb(255, 255, 255,1);
     font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(66,75,90,1);
 }
 .sider_container :global(.u-menu-submenu-selected){
    background:rgba(216,216,216,1);
    opacity:0.5;
 }
