.lebraNavbar{
  height: 48px;
}
:global(.lebra-navbar-left-icon){
  width:32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  position: relative;
  cursor: pointer;
  color: rgba(135,139,148,1);
}
:global(.lebra-navbar-left-content){
  margin-left: 20px;
  font-size:14px;
  font-family:MicrosoftYaHei;
  color:rgba(74,81,93,1);
}
:global(.lebra-navbar-title){
  font-size:14px;
  font-family:MicrosoftYaHei;
  color:rgba(74,81,93,1);
  line-height:19px;
}
:global(.lebra-navbar-right>div){
  width:32px;
  height: 32px;
  line-height: 32px;
  position: relative;
  cursor: pointer;
}
:global(.lebra-navbar-right .iconfont){
  color: rgba(135,139,148,1);
}
:global(.lebra-navbar-right .active .iconfont){
  color: rgba(225,76,70,1);
}
:global(.lebra-navbar-right .CircleDot){
  position: absolute;
  width:6px;
  height: 6px;
  background: rgba(225,76,70,1);
  border-radius: 50% 50%;
  top:5px;
  right:5px;
}
