.wrap :global(.icon-dingzhi.active){
  color: #E14C46;
}

.wrap :global(.um-content) {
  flex-direction: column;
  display: flex;
  margin-top: 86px;
  overflow: hidden;
}

.wrap :global(.lebra-navbar-left-icon){
  padding:4px 0;
}

.work :global(.lebra-navbar-left){
  padding-left: 7px;
}

.work :global(.lebra-navbar-left-content){
  margin-left: 0px;
  padding-left: 4px;
}

.work :global(.menu_work){
  height: 38px;
}

.active {
  color: #E14C46;
}
.workArea {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sideBarArea {
  width: 220px;
	height: 100%;
  float: left;
  background: #ffffff;
  overflow-y: scroll;
  position: absolute;
  left: 0px;
  top: 86px;
  bottom: 0px;
  right: 0px;
}
.marginLeft {
  margin-left: 230px ;
  margin-top: 86px !important;
}
.marginTop {
  margin-top: 8px;
}
.contentArea {
  height: 100%;
  width: 100%;
  border-top: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  box-sizing: border-box;
}
.contenthasTab{
  height: auto;
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 48px;
  right: 0;
}
.hasTab {
  border-radius: 3px 0 0 0;
  margin-top: 88px;
  padding-top: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.iframeCont{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.tabArea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
}
.titleServiceDisplayStyle{
  color:#E14C46 !important;
}

.titleArea {
  text-align: center;
  position: relative;
}
.titleArea span{}

.service, .pin {
  font-size:18px;
}
.service {
  margin-left: 9px;
}
.pin {
  margin-left: 15px;
}


