.workArea {
  flex: 1;
  display: flex;
}
.wrap :global(.icon-dingzhi.active){
  color: red;
}
.wrap :global(.um-content) {
  flex-direction: column;
  display: flex;
}
.sideBarArea {
  width: 200px;
}
.contentArea {
  flex: 1;
}
.hasTab {
  flex: 1;
  flex-direction: column;
  display: flex;
}
.tabArea {
  height: 48px;
}
.title_service_display{
  color:#E14C46 !important;
}