/* tab */
.tab{
  float: left;
  flex: 1;
}
.tab ul{
  overflow: hidden;
  float: left;
}
.tab ul li{
  float: left;
  width: 154px;
  padding-right: 21px;
  padding-left: 1px;
  cursor: pointer;
  position: relative;
  padding-top: 2px;
}
.tab ul li::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 1px;
  height: 12px;
  background: #CCCCCC;
  
}
.tab ul li:hover{
  background: #f3f3f3;
}

.tab ul li p{
  padding-left: 8px;
  text-align: left;
  line-height: 30px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.tab li div{
  position: absolute;
  width: 14px;
  height: 14px;
  right: 4px;
  top: 8px;
  border-radius: 50% 50%;
}

.tab li div i{
  font-size: 14px;
}
.tab ul .active{
  background: #ffffff;
  border-top: 2px solid red;
  padding-top: 0;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  padding-right: 20px;
  padding-left: 0px;
  color: #E14C46;
}

.tab ul .active::before,
.tab ul .first::before,
.tab ul .active + li::before{
/* .tab ul li:first-child::before */
  content: '';
  width: 0;
}