.MainNav{
    display: flex;
    background: rgba(255,255,255,0.9);
    opacity: 0.9;
    z-index:999;
    height: 70px;
    line-height: 70px;
    border-bottom:1px solid #eee;
}
.MainNav .headerDesc{
    color: #777;
    font-size: 20px;
    line-height: 70px;
    padding-left: 14px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    position: relative;
}
.MainNav .headerDesc:before{
    content:'';
    width:1px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 0px;
    background: #d0d0d0;
}
.MainNav .leftCon{
    width: 25%;
    padding-left: 30px;
    position: relative;
}
.MainNav .leftCon :global(.leftConFake){
    width: 100%;
    height: 70px;
    background: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.leftCon :global(img.companylogo) {
    height: 46px;
    width: 114px;
    margin-top: 20px;
    margin-left: 38px;
    cursor: pointer;
}
.leftCon :global(.companylogoSvg){
    outline: none;
    border:none;
    margin-right: 10px;
    margin-top: 0;

}
.MainNav .middleCon{
    width: 50%;
    text-align: center;
   
}
.middleCon :global(.middleItem){
    font-size: 18px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    color: rgba(51,51,51,1);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    margin: 0 20px;
    padding: 0 10px;
    box-sizing: border-box;
}
.middleCon :global(.middleItem.actived) {
    color:#eb1d15;
    /* border-bottom: 4px solid #eb1d15; */
}
.MainNav .rightCon{
    width: 25%;
    text-align: right;
    padding-right: 20px;
}
.MainNav .rightCon :global(a.loginBtn),
.MainNav .rightCon :global(a.registryBtn) {
    width: 100px;
    height: 34px;
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    line-height: 34px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.MainNav .rightCon :global(a.loginBtn){
    background: #e50113;
    color: rgba(255,255,255,1);
    margin-right: 15px;
    transition: all 0.3s;
}
.MainNav .rightCon :global(a.loginBtn:hover){
    background: #cf0010;
}
.MainNav .rightCon :global(a.registryBtn) {
    color:#eb1d15;
    background:transparent;
}
/*TopNav的样式*/
.TopNav{
    height:30px;
    background:#666;
    opacity:0.9;
    line-height: 40px;
    text-align: right;
    padding-right: 18px;
}
.TopNav :global(.TopNavLink) {
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    color: rgba(255,255,255);
    opacity: .8;
    text-decoration: none;
    padding: 0 20px;
    transition: opacity .5s;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
}
.TopNav :global(.TopNavLink:hover){
  opacity: 1;
}