.MainNav{
    display: flex;
    background: rgba(255,255,255,1);
    opacity: 0.9;
    z-index:999;
    height: 80px;
    line-height: 80px;
}
.MainNav .headerDesc{
    color:rgba(113,113,113,1);
    font-size: 22px;
    padding-left: 10px;
    border-left: 1px solid rgba(113,113,113,1);
}
.MainNav .leftCon{
    width: 30%;
}
.leftCon :global(img.companylogo) {
    height: 42px;
    width: 258px;
    margin-top: 19px;
    margin-left: 20px;
}
.MainNav .middleCon{
    width: 50%;
   
}
.middleCon :global(.middleItem){
    font-size: 22px;
    font-family: PingFangSC-Regular;
    color: rgba(51,51,51,1);
    line-height: 30px;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.MainNav .rightCon{
    width: 20%;
}
.MainNav .rightCon :global(a.loginBtn),
.MainNav .rightCon :global(a.registryBtn) {
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    line-height: 50px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.MainNav .rightCon :global(a.loginBtn){
    background: #EB4046;
    color: rgba(255,255,255,1);
}
.MainNav .rightCon :global(a.registryBtn) {
    color:#EB4046;
    background:#fff;
}
/*TopNav的样式*/
.TopNav{
    height:40px;
    background:#666;
    opacity:0.9;
    line-height: 40px;
    text-align: right;
}
.TopNav :global(.TopNavLink) {
    font-size: 18px;
    font-family: PingFangSC-Regular;
    color: rgba(255,255,255);
    opacity: .8;
    text-decoration: none;
    padding: 0 20px;
    transition: opacity .5s;
}
.TopNav :global(.TopNavLink:hover){
  opacity: 1;
}